In [1]:
import pandas as pd
import requests
from config import api_key
import json

In [2]:
url = 'https://www.timeshighereducation.com/student/best-universities/best-universities-united-states'

In [3]:
tables = pd.read_html(url)
tables

[                0                           1  \
 0    US Rank 2018  World University Rank 2018
 1              =1                          =3
 2              =1                          =3
 3               3                           5
 4               4                           6
 5               5                           7
 6               6                           9
 7               7                         =10
 8               8                          12
 9               9                          13
 10             10                          14
 11             11                          15
 12             12                          17
 13             13                          18
 14             14                          19
 15             15                          20
 16             16                          21
 17             17                          24
 18             18                         =25
 19             19                         =27
 20             20                          31
 21             21                          33
 22             22                          37
 23             23                          43
 24             24                          49
 25            =25                         =50
 26            =25                         =50
 27             27                          53
 28             28                         =54
 29            =29                         =56
 ..            ...                         ...
 128          =126                     501–600
 129          =126                     501–600
 130          =126                     501–600
 131          =126                     501–600
 132          =126                     501–600
 133          =126                     501–600
 134          =126                     501–600
 135          =126                     501–600
 136          =126                     501–600
 137          =126                     501–600
 138          =126                     501–600
 139          =139                     601–800
 140          =139                     601–800
 141          =139                     601–800
 142          =139                     601–800
 143          =139                     601–800
 144          =139                     601–800
 145          =139                     601–800
 146          =139                     601–800
 147          =139                     601–800
 148          =139                     601–800
 149          =139                     601–800
 150          =139                     601–800
 151          =139                     601–800
 152          =139                     601–800
 153          =139                     601–800
 154          =154                    801–1000
 155          =154                    801–1000
 156          =154                    801–1000
 157          =154                    801–1000

                                                      2               3  \
 0                                           University           State
 1                   California Institute of Technology      California
 2                                  Stanford University      California
 3                Massachusetts Institute of Technology   Massachusetts
 4                                   Harvard University   Massachusetts
 5                                 Princeton University      New Jersey
 6                                University of Chicago        Illinois
 7                           University of Pennsylvania    Pennsylvania
 8                                      Yale University     Connecticut
 9                             Johns Hopkins University        Maryland
 10                                 Columbia University  New York State
 11               University of California, Los Angeles      California
 12                                     Duke University  North Carolina
 13                  University of California, Berkeley      California
 14                                  Cornell University  New York State
 15                             Northwestern University        Illinois
 16                              University of Michigan        Michigan
 17                          Carnegie Mellon University    Pennsylvania
 18                            University of Washington      Washington
 19                                 New York University  New York State
 20                 University of California, San Diego      California
 21                     Georgia Institute of Technology         Georgia
 22          University of Illinois at Urbana-Champaign        Illinois
 23                     University of Wisconsin-Madison       Wisconsin
 24                       University of Texas at Austin           Texas
 25                                    Brown University    Rhode Island
 26                   Washington University in St Louis        Missouri
 27             University of California, Santa Barbara      California
 28                     University of California, Davis      California
 29                             University of Minnesota       Minnesota
 ..                                                 ...             ...
 128                              Kent State University            Ohio
 129                                  Lehigh University    Pennsylvania
 130      Missouri University of Science and Technology        Missouri
 131                           Montana State University         Montana
 132                 New Jersey Institute of Technology      New Jersey
 133                          Oklahoma State University        Oklahoma
 134                         University of South Dakota    South Dakota
 135                    Stevens Institute of Technology      New Jersey
 136                   University of Texas at Arlington           Texas
 137                              Texas Tech University           Texas
 138                               University of Toledo            Ohio
 139                                  Auburn University         Alabama
 140                                  Baylor University           Texas
 141                               University of Dayton            Ohio
 142               Embry-Riddle Aeronautical University         Florida
 143                        Florida Atlantic University         Florida
 144                    Florida Institute of Technology         Florida
 145                            Kansas State University          Kansas
 146                               Marquette University       Wisconsin
 147                       Mississippi State University     Mississippi
 148                        New Mexico State University      New Mexico
 149         University of North Carolina at Greensboro  North Carolina
 150                            Old Dominion University        Virginia
 151                          Portland State University          Oregon
 152                  Rochester Institute of Technology  New York State
 153                     University of Texas at El Paso           Texas
 154  California Polytechnic State University-San Lu...      California
 155                                 Oakland University        Michigan
 156                 University of Southern Mississippi     Mississippi
 157                             Texas State University           Texas

                    4
 0               City
 1           Pasadena
 2           Stanford
 3          Cambridge
 4          Cambridge
 5          Princeton
 6            Chicago
 7       Philadelphia
 8          New Havem
 9          Baltimore
 10     New York City
 11       Los Angeles
 12            Durham
 13         Berkelely
 14            Ithaca
 15          Evanston
 16         Ann Arbor
 17        Pittsburgh
 18           Seattle
 19     New York City
 20         San Diego
 21           Atlanta
 22         Champaign
 23           Madison
 24            Austin
 25        Providence
 26         St. Louis
 27     Santa Barbara
 28             Davis
 29       Minneapolis
 ..               ...
 128             Kent
 129        Bethlehem
 130            Rolla
 131          Bozeman
 132      Newark (NJ)
 133       Stillwater
 134       Vermillion
 135          Hoboken
 136        Arlington
 137          Lubbock
 138           Tuledo
 139           Auburn
 140             Waco
 141           Dayton
 142    Daytona Beach
 143       Boca Raton
 144        Melbourne
 145        Manhattan
 146        Milwaukee
 147       Starkville
 148       Las Cruces
 149        Greenboro
 150          Norfolk
 151         Portland
 152   Rochester (NY)
 153          El Paso
 154  San Luis Obispo
 155   Rochester (MI)
 156      Hattiesburg
 157       San Marcos

 [158 rows x 5 columns]]

In [4]:
df = tables[0]
df.columns = ["US Rank 2018", "World University Rank 2018", "University","State", "City"]
df

,US Rank 2018,World University Rank 2018,University,State,City
0,US Rank 2018,World University Rank 2018,University,State,City
1,=1,=3,California Institute of Technology,California,Pasadena
2,=1,=3,Stanford University,California,Stanford
3,3,5,Massachusetts Institute of Technology,Massachusetts,Cambridge
4,4,6,Harvard University,Massachusetts,Cambridge
5,5,7,Princeton University,New Jersey,Princeton
6,6,9,University of Chicago,Illinois,Chicago
7,7,=10,University of Pennsylvania,Pennsylvania,Philadelphia
8,8,12,Yale University,Connecticut,New Havem
9,9,13,Johns Hopkins University,Maryland,Baltimore
10,10,14,Columbia University,New York State,New York City
11,11,15,"University of California, Los Angeles",California,Los Angeles
12,12,17,Duke University,North Carolina,Durham
13,13,18,"University of California, Berkeley",California,Berkelely
14,14,19,Cornell University,New York State,Ithaca
15,15,20,Northwestern University,Illinois,Evanston
16,16,21,University of Michigan,Michigan,Ann Arbor
17,17,24,Carnegie Mellon University,Pennsylvania,Pittsburgh
18,18,=25,University of Washington,Washington,Seattle
19,19,=27,New York University,New York State,New York City
20,20,31,"University of California, San Diego",California,San Diego
21,21,33,Georgia Institute of Technology,Georgia,Atlanta
22,22,37,University of Illinois at Urbana-Champaign,Illinois,Champaign
23,23,43,University of Wisconsin-Madison,Wisconsin,Madison
24,24,49,University of Texas at Austin,Texas,Austin
25,=25,=50,Brown University,Rhode Island,Providence
26,=25,=50,Washington University in St Louis,Missouri,St. Louis
27,27,53,"University of California, Santa Barbara",California,Santa Barbara
28,28,=54,"University of California, Davis",California,Davis
29,=29,=56,University of Minnesota,Minnesota,Minneapolis
...,...,...,...,...,...
128,=126,501–600,Kent State University,Ohio,Kent
129,=126,501–600,Lehigh University,Pennsylvania,Bethlehem
130,=126,501–600,Missouri University of Science and Technology,Missouri,Rolla
131,=126,501–600,Montana State University,Montana,Bozeman
132,=126,501–600,New Jersey Institute of Technology,New Jersey,Newark (NJ)
133,=126,501–600,Oklahoma State University,Oklahoma,Stillwater
134,=126,501–600,University of South Dakota,South Dakota,Vermillion
135,=126,501–600,Stevens Institute of Technology,New Jersey,Hoboken
136,=126,501–600,University of Texas at Arlington,Texas,Arlington
137,=126,501–600,Texas Tech University,Texas,Lubbock
138,=126,501–600,University of Toledo,Ohio,Tuledo
139,=139,601–800,Auburn University,Alabama,Auburn
140,=139,601–800,Baylor University,Texas,Waco
141,=139,601–800,University of Dayton,Ohio,Dayton
142,=139,601–800,Embry-Riddle Aeronautical University,Florida,Daytona Beach
143,=139,601–800,Florida Atlantic University,Florida,Boca Raton
144,=139,601–800,Florida Institute of Technology,Florida,Melbourne
145,=139,601–800,Kansas State University,Kansas,Manhattan
146,=139,601–800,Marquette University,Wisconsin,Milwaukee
147,=139,601–800,Mississippi State University,Mississippi,Starkville
148,=139,601–800,New Mexico State University,New Mexico,Las Cruces
149,=139,601–800,University of North Carolina at Greensboro,North Carolina,Greenboro
150,=139,601–800,Old Dominion University,Virginia,Norfolk
151,=139,601–800,Portland State University,Oregon,Portland
152,=139,601–800,Rochester Institute of Technology,New York State,Rochester (NY)
153,=139,601–800,University of Texas at El Paso,Texas,El Paso
154,=154,801–1000,California Polytechnic State University-San Lu...,California,San Luis Obispo
155,=154,801–1000,Oakland University,Michigan,Rochester (MI)
156,=154,801–1000,University of Southern Mississippi,Mississippi,Hattiesburg
157,=154,801–1000,Texas State University,Texas,San Marcos

In [5]:
df = df.iloc[1:]
df = df[:100]
df

,US Rank 2018,World University Rank 2018,University,State,City
1,=1,=3,California Institute of Technology,California,Pasadena
2,=1,=3,Stanford University,California,Stanford
3,3,5,Massachusetts Institute of Technology,Massachusetts,Cambridge
4,4,6,Harvard University,Massachusetts,Cambridge
5,5,7,Princeton University,New Jersey,Princeton
6,6,9,University of Chicago,Illinois,Chicago
7,7,=10,University of Pennsylvania,Pennsylvania,Philadelphia
8,8,12,Yale University,Connecticut,New Havem
9,9,13,Johns Hopkins University,Maryland,Baltimore
10,10,14,Columbia University,New York State,New York City
11,11,15,"University of California, Los Angeles",California,Los Angeles
12,12,17,Duke University,North Carolina,Durham
13,13,18,"University of California, Berkeley",California,Berkelely
14,14,19,Cornell University,New York State,Ithaca
15,15,20,Northwestern University,Illinois,Evanston
16,16,21,University of Michigan,Michigan,Ann Arbor
17,17,24,Carnegie Mellon University,Pennsylvania,Pittsburgh
18,18,=25,University of Washington,Washington,Seattle
19,19,=27,New York University,New York State,New York City
20,20,31,"University of California, San Diego",California,San Diego
21,21,33,Georgia Institute of Technology,Georgia,Atlanta
22,22,37,University of Illinois at Urbana-Champaign,Illinois,Champaign
23,23,43,University of Wisconsin-Madison,Wisconsin,Madison
24,24,49,University of Texas at Austin,Texas,Austin
25,=25,=50,Brown University,Rhode Island,Providence
26,=25,=50,Washington University in St Louis,Missouri,St. Louis
27,27,53,"University of California, Santa Barbara",California,Santa Barbara
28,28,=54,"University of California, Davis",California,Davis
29,=29,=56,University of Minnesota,Minnesota,Minneapolis
30,=29,=56,University of North Carolina at Chapel Hill,North Carolina,Chapel Hill
...,...,...,...,...,...
71,=63,201–250,University of Utah,Utah,Salt Lake City
72,=72,251–300,University at Buffalo,New York State,Buffalo
73,=72,251–300,Clark University,Massachusetts,Worcester
74,=72,251–300,University of Colorado Denver,Colorado,Denver
75,=72,251–300,Colorado School of Mines,Colarado,Golden
76,=72,251–300,University of Illinois at Chicago,Illinois,Chicago
77,=72,251–300,North Carolina State University,North Carolina,Raleigh
78,=72,251–300,University of Oregon,Oregon,Eugene
79,=72,251–300,Oregon Health and Science University,Oregon,Portland
80,=72,251–300,University of South Florida,Florida,Tampa
81,=72,251–300,Stony Brook University,New York State,Stony Brook
82,=72,251–300,Syracuse University,New York State,Syracuse
83,=72,251–300,Wake Forest University,North Carolina,Winston-Salem
84,=72,251–300,William & Mary,Virginia,Williamsburg
85,=85,301–350,University of Alaska Fairbanks,Alaska,Fairbanks
86,=85,301–350,Boston College,Massachusetts,Newton
87,=85,301–350,University of Connecticut,Connecticut,Mansfield
88,=85,301–350,University of Denver,Colorado,Denver
89,=85,301–350,George Mason University,Virginia,Fairfax
90,=85,301–350,University of Houston,Texas,Houston
91,=85,301–350,Iowa State University,Iowa,Ames
92,=85,301–350,University of Nebraska-Lincoln,Nebraska,Lincoln
93,=85,301–350,Oregon State University,Oregon,Corvallis
94,=85,301–350,Rensselaer Polytechnic Institute,New York State,Troy
95,=85,301–350,Rush University,Illinois,Chicago
96,=85,301–350,"University of Tennessee, Knoxville",Tennessee,Knoxville
97,=85,301–350,Virginia Polytechnic Institute and State Unive...,Virginia,Blacksburg
98,=85,301–350,Washington State University,Washington,Pullman
99,=99,351–400,University of Alabama,Alabama,Tuscaloosa
100,=99,351–400,American University,-,Washington D.C

In [6]:
df['University'] = df['University'].str.replace(',',' -')
df

,US Rank 2018,World University Rank 2018,University,State,City
1,=1,=3,California Institute of Technology,California,Pasadena
2,=1,=3,Stanford University,California,Stanford
3,3,5,Massachusetts Institute of Technology,Massachusetts,Cambridge
4,4,6,Harvard University,Massachusetts,Cambridge
5,5,7,Princeton University,New Jersey,Princeton
6,6,9,University of Chicago,Illinois,Chicago
7,7,=10,University of Pennsylvania,Pennsylvania,Philadelphia
8,8,12,Yale University,Connecticut,New Havem
9,9,13,Johns Hopkins University,Maryland,Baltimore
10,10,14,Columbia University,New York State,New York City
11,11,15,University of California - Los Angeles,California,Los Angeles
12,12,17,Duke University,North Carolina,Durham
13,13,18,University of California - Berkeley,California,Berkelely
14,14,19,Cornell University,New York State,Ithaca
15,15,20,Northwestern University,Illinois,Evanston
16,16,21,University of Michigan,Michigan,Ann Arbor
17,17,24,Carnegie Mellon University,Pennsylvania,Pittsburgh
18,18,=25,University of Washington,Washington,Seattle
19,19,=27,New York University,New York State,New York City
20,20,31,University of California - San Diego,California,San Diego
21,21,33,Georgia Institute of Technology,Georgia,Atlanta
22,22,37,University of Illinois at Urbana-Champaign,Illinois,Champaign
23,23,43,University of Wisconsin-Madison,Wisconsin,Madison
24,24,49,University of Texas at Austin,Texas,Austin
25,=25,=50,Brown University,Rhode Island,Providence
26,=25,=50,Washington University in St Louis,Missouri,St. Louis
27,27,53,University of California - Santa Barbara,California,Santa Barbara
28,28,=54,University of California - Davis,California,Davis
29,=29,=56,University of Minnesota,Minnesota,Minneapolis
30,=29,=56,University of North Carolina at Chapel Hill,North Carolina,Chapel Hill
...,...,...,...,...,...
71,=63,201–250,University of Utah,Utah,Salt Lake City
72,=72,251–300,University at Buffalo,New York State,Buffalo
73,=72,251–300,Clark University,Massachusetts,Worcester
74,=72,251–300,University of Colorado Denver,Colorado,Denver
75,=72,251–300,Colorado School of Mines,Colarado,Golden
76,=72,251–300,University of Illinois at Chicago,Illinois,Chicago
77,=72,251–300,North Carolina State University,North Carolina,Raleigh
78,=72,251–300,University of Oregon,Oregon,Eugene
79,=72,251–300,Oregon Health and Science University,Oregon,Portland
80,=72,251–300,University of South Florida,Florida,Tampa
81,=72,251–300,Stony Brook University,New York State,Stony Brook
82,=72,251–300,Syracuse University,New York State,Syracuse
83,=72,251–300,Wake Forest University,North Carolina,Winston-Salem
84,=72,251–300,William & Mary,Virginia,Williamsburg
85,=85,301–350,University of Alaska Fairbanks,Alaska,Fairbanks
86,=85,301–350,Boston College,Massachusetts,Newton
87,=85,301–350,University of Connecticut,Connecticut,Mansfield
88,=85,301–350,University of Denver,Colorado,Denver
89,=85,301–350,George Mason University,Virginia,Fairfax
90,=85,301–350,University of Houston,Texas,Houston
91,=85,301–350,Iowa State University,Iowa,Ames
92,=85,301–350,University of Nebraska-Lincoln,Nebraska,Lincoln
93,=85,301–350,Oregon State University,Oregon,Corvallis
94,=85,301–350,Rensselaer Polytechnic Institute,New York State,Troy
95,=85,301–350,Rush University,Illinois,Chicago
96,=85,301–350,University of Tennessee - Knoxville,Tennessee,Knoxville
97,=85,301–350,Virginia Polytechnic Institute and State Unive...,Virginia,Blacksburg
98,=85,301–350,Washington State University,Washington,Pullman
99,=99,351–400,University of Alabama,Alabama,Tuscaloosa
100,=99,351–400,American University,-,Washington D.C

In [7]:
df = df.set_index(["University"])
df

,US Rank 2018,World University Rank 2018,State,City
University,,,,
California Institute of Technology,=1,=3,California,Pasadena
Stanford University,=1,=3,California,Stanford
Massachusetts Institute of Technology,3,5,Massachusetts,Cambridge
Harvard University,4,6,Massachusetts,Cambridge
Princeton University,5,7,New Jersey,Princeton
University of Chicago,6,9,Illinois,Chicago
University of Pennsylvania,7,=10,Pennsylvania,Philadelphia
Yale University,8,12,Connecticut,New Havem
Johns Hopkins University,9,13,Maryland,Baltimore
Columbia University,10,14,New York State,New York City
University of California - Los Angeles,11,15,California,Los Angeles
Duke University,12,17,North Carolina,Durham
University of California - Berkeley,13,18,California,Berkelely
Cornell University,14,19,New York State,Ithaca
Northwestern University,15,20,Illinois,Evanston
University of Michigan,16,21,Michigan,Ann Arbor
Carnegie Mellon University,17,24,Pennsylvania,Pittsburgh
University of Washington,18,=25,Washington,Seattle
New York University,19,=27,New York State,New York City
University of California - San Diego,20,31,California,San Diego
Georgia Institute of Technology,21,33,Georgia,Atlanta
University of Illinois at Urbana-Champaign,22,37,Illinois,Champaign
University of Wisconsin-Madison,23,43,Wisconsin,Madison
University of Texas at Austin,24,49,Texas,Austin
Brown University,=25,=50,Rhode Island,Providence
Washington University in St Louis,=25,=50,Missouri,St. Louis
University of California - Santa Barbara,27,53,California,Santa Barbara
University of California - Davis,28,=54,California,Davis
University of Minnesota,=29,=56,Minnesota,Minneapolis
University of North Carolina at Chapel Hill,=29,=56,North Carolina,Chapel Hill
...,...,...,...,...
University of Utah,=63,201–250,Utah,Salt Lake City
University at Buffalo,=72,251–300,New York State,Buffalo
Clark University,=72,251–300,Massachusetts,Worcester
University of Colorado Denver,=72,251–300,Colorado,Denver
Colorado School of Mines,=72,251–300,Colarado,Golden
University of Illinois at Chicago,=72,251–300,Illinois,Chicago
North Carolina State University,=72,251–300,North Carolina,Raleigh
University of Oregon,=72,251–300,Oregon,Eugene
Oregon Health and Science University,=72,251–300,Oregon,Portland
University of South Florida,=72,251–300,Florida,Tampa
Stony Brook University,=72,251–300,New York State,Stony Brook
Syracuse University,=72,251–300,New York State,Syracuse
Wake Forest University,=72,251–300,North Carolina,Winston-Salem
William & Mary,=72,251–300,Virginia,Williamsburg
University of Alaska Fairbanks,=85,301–350,Alaska,Fairbanks
Boston College,=85,301–350,Massachusetts,Newton
University of Connecticut,=85,301–350,Connecticut,Mansfield
University of Denver,=85,301–350,Colorado,Denver
George Mason University,=85,301–350,Virginia,Fairfax
University of Houston,=85,301–350,Texas,Houston
Iowa State University,=85,301–350,Iowa,Ames
University of Nebraska-Lincoln,=85,301–350,Nebraska,Lincoln
Oregon State University,=85,301–350,Oregon,Corvallis
Rensselaer Polytechnic Institute,=85,301–350,New York State,Troy
Rush University,=85,301–350,Illinois,Chicago
University of Tennessee - Knoxville,=85,301–350,Tennessee,Knoxville
Virginia Polytechnic Institute and State University,=85,301–350,Virginia,Blacksburg
Washington State University,=85,301–350,Washington,Pullman
University of Alabama,=99,351–400,Alabama,Tuscaloosa
American University,=99,351–400,-,Washington D.C

In [8]:
df.to_csv("College.csv")

In [9]:
id_df=pd.read_csv('Most-Recent-Cohorts-Scorecard-Elements.csv')

In [10]:
id_df

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,INSTURL,NPCURL,HCM2,PREDDEG,...,RET_PTL4_POOLED_SUPP,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GT_25K_P6,GRAD_DEBT_MDN_SUPP,GRAD_DEBT_MDN10YR_SUPP,RPY_3YR_RT_SUPP,C150_L4_POOLED_SUPP,C150_4_POOLED_SUPP
0,100654,100200,1002,Alabama A & M University,Normal,AL,www.aamu.edu/,www2.aamu.edu/scripts/netpricecalc/npcalc.htm,0,3,...,NaN,0.8159,0.0877,29900,0.453,35000,361.8914469,0.245849523,NaN,0.3303
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,www.uab.edu,uab.studentaidcalculator.com/survey.aspx,0,3,...,NaN,0.5218,0.2363,40200,0.669,21500,222.3047459,0.519911057,NaN,0.5504
2,100690,2503400,25034,Amridge University,Montgomery,AL,www.amridgeuniversity.edu,www2.amridgeuniversity.edu:9091/,0,3,...,NaN,0.8781,0.8571,40100,0.658,23000,237.8143794,0.233100233,NaN,PrivacySuppressed
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,www.uah.edu,finaid.uah.edu/,0,3,...,NaN,0.4589,0.2255,45600,0.685,23500,242.9842572,0.54900297,NaN,0.4776
4,100724,100500,1005,Alabama State University,Montgomery,AL,www.alasu.edu,www.alasu.edu/cost-aid/forms/calculator/index....,0,3,...,NaN,0.7692,0.0974,26700,0.393,32091,331.8130978,0.196353855,NaN,0.2663
5,100751,105100,1051,The University of Alabama,Tuscaloosa,AL,www.ua.edu/,financialaid.ua.edu/net-price-calculator/,0,3,...,NaN,0.4059,0.0810,42700,0.695,23750,245.5691961,0.591143012,NaN,0.6638
6,100760,100700,1007,Central Alabama Community College,Alexander City,AL,www.cacc.edu,www.cacc.edu/NetPriceCalculator/14-15/npcalc.html,0,2,...,0.519483766,0.3574,0.2630,27200,0.466,9388,97.06962581,0.263502455,0.1722,NaN
7,100812,100800,1008,Athens State University,Athens,AL,www.athens.edu,https://24.athens.edu/apex/prod8/f?p=174:1:394...,0,3,...,NaN,0.6512,0.6774,38500,0.653,18534,191.6370308,0.49424626,NaN,NaN
8,100830,831000,8310,Auburn University at Montgomery,Montgomery,AL,www.aum.edu,www.aum.edu/current-students/financial-informa...,0,3,...,NaN,0.5584,0.2257,33500,0.616,22192.5,229.4650267,0.416269696,NaN,0.2115
9,100858,100900,1009,Auburn University,Auburn,AL,www.auburn.edu,www.auburn.edu/admissions/money-matters.html,0,3,...,NaN,0.3470,0.0427,47100,0.741,21500,222.3047459,0.731666973,NaN,0.7188
10,100937,101200,1012,Birmingham Southern College,Birmingham,AL,www.bsc.edu/,www.bsc.edu/fp/np-calculator.cfm,0,3,...,NaN,0.4633,0.0141,45600,0.637,26850,277.6224385,0.747826087,NaN,0.627
11,101028,1218200,12182,Chattahoochee Valley Community College,Phenix City,AL,www.cv.edu,https://external.cv.edu/npc/npcalc.htm,0,2,...,0.258304636,0.3058,0.3604,26300,0.41,9389.5,97.08513544,0.26848249,0.1376,NaN
12,101073,1055400,10554,Concordia College Alabama,Selma,AL,www.ccal.edu/,www.ccal.edu/admissions/net-pricing-calculator/,0,2,...,NaN,0.9249,0.1294,20600,0.356,36870,381.2267899,0.118483412,NaN,0.1458
13,101116,1303906,13039,South University-Montgomery,Montgomery,AL,www.southuniversity.edu/montgomery#location=Mo...,tcc.noellevitz.com/edmc/South Net Price Calcul...,0,3,...,NaN,0.7304,0.6109,30300,0.58,25000,258.4938906,0.226137931,NaN,0.0792
14,101143,101500,1015,Enterprise State Community College,Enterprise,AL,www.escc.edu,www.escc.edu/NetPrice/npcalc.htm,0,2,...,0.36528503,0.2128,0.2896,29800,0.518,7155,73.9809515,0.437563452,0.1026,NaN
15,101161,106000,1060,James H Faulkner State Community College,Bay Minette,AL,www.faulknerstate.edu,www.faulknerstate.edu,0,2,...,0.350118162,0.5107,0.2598,28700,0.475,11000,113.7373119,0.35685025,0.1146,NaN
16,101189,100300,1003,Faulkner University,Montgomery,AL,www.faulkner.edu,www.faulkner.edu/net-price-calculator-form/,0,3,...,NaN,0.7105,0.4353,35900,0.614,21750,224.8896849,0.301489921,NaN,0.2553
17,101240,101700,1017,Gadsden State Community College,Gadsden,AL,www.gadsdenstate.edu,www.gadsdenstate.edu/net-price-calculator,0,1,...,0.432157946,0.0000,0.3320,25400,0.379,PrivacySuppressed,PrivacySuppressed,NaN,0.1568,NaN
18,101277,4187200,41872,New Beginning College of Cosmetology,Albertville,AL,www.nbccosmetology.com,www.nbccosmetology.com/npcalc.htm,0,1,...,PrivacySuppressed,0.5749,0.2747,NaN,NaN,5500,56.86865594,0.4,0.7155,NaN
19,101286,101800,1018,George C Wallace State Community College-Dothan,Dothan,AL,www.wallace.edu,www.wallace.edu/net_price_calculator.aspx,0,2,...,0.432974066,0.0000,0.3422,24800,0.374,PrivacySuppressed,PrivacySuppressed,NaN,0.1721,NaN
20,101295,787100,7871,George C Wallace State Community College-Hance...,Hanceville,AL,www.wallacestate.edu,www.wallacestate.edu/Financial-Aid/Net-Price-C...,0,2,...,0.455821652,0.3915,0.2671,31100,0.537,11000,113.7373119,0.440267601,0.2923,NaN
21,101301,569900,5699,George C Wallace State Community College-Selma,Selma,AL,www.wccs.edu,wccs.edu/home/admissions/financial-aid/net-pri...,0,2,...,0.391665,0.0000,0.2753,23100,0.376,PrivacySuppressed,PrivacySuppressed,NaN,0.1879,NaN
22,101365,962107,9621,Herzing University-Birmingham,Birmingham,AL,www.herzing.edu/,www.herzing.edu/financial-aid/net-price-calcul...,0,1,...,NaN,0.7219,0.7147,40300,0.566,23713.5,245.191795,0.277125086,NaN,0.4118
23,101435,101900,1019,Huntingdon College,Montgomery,AL,www.huntingdon.edu,hawk.huntingdon.edu/oiac/netpricecalculator/np...,0,3,...,NaN,0.6862,0.2196,36800,0.612,26477.5,273.7708796,0.499265786,NaN,0.4327
24,101453,2199700,21997,Heritage Christian University,Florence,AL,www.hcu.edu,www.hcu.edu/netpricecalculator/,0,3,...,NaN,0.3226,0.5862,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,PrivacySuppressed,NaN,PrivacySuppressed
25,101462,526000,5260,J F Drake State Community and Technical College,Huntsville,AL,www.drakestate.edu,www.drakestate.edu/admissions/net_price_calcul...,0,2,...,0.256400641,0.0000,0.4769,22200,0.369,PrivacySuppressed,PrivacySuppressed,NaN,0.1246,NaN
26,101480,102000,1020,Jacksonville State University,Jacksonville,AL,www.jsu.edu/,www.jsu.edu/finaid/,0,3,...,NaN,0.6746,0.1814,35000,0.548,23250,240.3993183,0.394511149,NaN,0.3057
27,101499,102100,1021,Jefferson Davis Community College,Brewton,AL,www.jdcc.edu,www.jdcc.edu/netpricecalculator/,0,2,...,0.428592381,0.0000,0.3843,24100,0.452,PrivacySuppressed,PrivacySuppressed,NaN,0.2427,NaN
28,101505,102200,1022,Jefferson State Community College,Birmingham,AL,www.jeffstateonline.com,www.jeffersonstate.edu/financial-aid/net-price...,0,2,...,0.446849179,0.2156,0.3118,30100,0.534,8500,87.88792282,0.452073893,0.0609,NaN
29,101514,101300,1013,John C Calhoun State Community College,Tanner,AL,www.calhoun.edu,https://calhoun.edu/student-resources/financia...,0,2,...,0.438810487,0.2877,0.3488,27300,0.454,11000,113.7373119,0.385100287,0.1408,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7563,45891902,145946,1459,Strayer University-Morrow Campus,Morrow,GA,www.strayer.edu/georgia/morrow,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7564,45891903,145952,1459,Strayer University-Roswell Campus,Roswell,GA,www.strayer.edu/georgia/roswell,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7565,45891904,145959,1459,Strayer University-Douglasville Campus,Douglasville,GA,www.strayer.edu/georgia/douglasville,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7566,45891905,145965,1459,Strayer University-Lithonia Campus,Lithonia,GA,www.strayer.edu/georgia/lithonia,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7567,45891906,145971,1459,Strayer University-Savannah Campus,Savannah,GA,www.strayer.edu/georgia/savannah,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7568,45891907,145972,1459,Strayer University-Augusta Campus,Augusta,GA,www.strayer.edu/georgia/augusta,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7569,45891908,145996,1459,Strayer University-Columbus,Columbus,GA,www.strayer.edu/georgia/columbus,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7570,45896401,145945,1459,Strayer University-Columbia Campus,Columbia,SC,www.strayer.edu/south-carolina/columbia,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7571,45896402,145954,1459,Strayer University-Charleston Campus,North Charleston,SC,www.strayer.edu/south-carolina/charleston,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7572,45897301,145990,1459,Strayer University-Irving,Irving,TX,www.strayer.edu/texas/irving,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7573,45897302,145992,1459,Strayer University-Katy,Houston,TX,www.strayer.edu/texas/katy,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7574,45897303,145994,1459,Strayer University-Northwest Houston,Houston,TX,www.strayer.edu/texas/northwest-houston,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7575,45897304,145995,1459,Strayer University-Plano,Plano,TX,www.strayer.edu/texas/plano,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7576,45897305,10145900,1459,Strayer University-Cedar Hill,Cedar Hill,TX,www.strayer.edu/texas/cedar-hill,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7577,45897306,10145901,1459,Strayer University-North Dallas,Dallas,TX,www.strayer.edu/texas/north-dallas,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7578,45897307,10145908,1459,Strayer University-San Antonio,San Antonio,TX,www.strayer.edu/texas/san-antonio,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7579,45897308,10145909,1459,Strayer University-Stafford,Stafford,TX,www.strayer.edu/texas/stafford,NaN,0,0,...,NaN,NaN,NaN,47300,0.667,34891,360.7644135,0.233998803,NaN,NaN
7580,45920401,4169701,41697,Unitek College,Fremont,CA,www.unitekcollege.edu/,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,9500,98.22767844,0.673139159,NaN,NaN
7581,47503301,4208601,42086,Relay Graduate School of Education - Newark,Newark,NJ,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,PrivacySuppressed,PrivacySuppressed,NaN,NaN,NaN
7582,47503302,4208602,42086,Relay Graduate School of Education - New Orleans,New Orleans,LA,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,PrivacySuppressed,PrivacySuppressed,NaN,NaN,NaN
7583,47647001,4088301,40883,WestMed College - Merced,Merced,CA,www.westmedcollege.edu,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,10093,104.3591535,0.555555556,NaN,NaN
7584,47657701,4184801,41848,Vantage College,El Paso,TX,www.vantage.edu,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,9500,98.22767844,PrivacySuppressed,NaN,NaN
7585,47657702,4184802,41848,Vantage College,Austin,TX,www.vantage.edu,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,9500,98.22767844,PrivacySuppressed,NaN,NaN
7586,47691101,4205801,42058,SAE Institute of Technology San Francisco,Emeryville,CA,usa.sae.edu,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,9500,98.22767844,0.545454546,NaN,NaN
7587,48065701,869423,8694,Rasmussen College - Overland Park,Overland Park,KS,rasmussen.edu,NaN,0,0,...,NaN,NaN,NaN,31000,0.553,19596.5,202.6230211,0.319479772,NaN,NaN
7588,48154401,4220901,42209,National Personal Training Institute of Cleveland,Highland Heights,OH,nptiohio.edu,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,PrivacySuppressed,PrivacySuppressed,NaN,NaN,NaN
7589,48387801,4223701,42237,Bay Area Medical Academy - San Jose Satellite ...,San Jose,CA,www.bamasf.com/,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,6336,65.51269164,NaN,NaN,NaN
7590,48400201,4228101,42281,High Desert Medical College,Lancaster,CA,www.highdesertmedicalcollege.org/,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,7521,77.76530206,NaN,NaN,NaN
7591,48414501,4232401,42324,Vantage College-San Antonio,San Antonio,TX,www.vantage.edu,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,10849.5,112.1811787,NaN,NaN,NaN
7592,48621101,4215601,42156,American Institute of Pharmaceutical Technolog...,Newark,NJ,NaN,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,PrivacySuppressed,PrivacySuppressed,NaN,NaN,NaN

In [11]:
id_df=id_df[["INSTNM", "UNITID", "CITY", "STABBR"]]
id_df

,INSTNM,UNITID,CITY,STABBR
0,Alabama A & M University,100654,Normal,AL
1,University of Alabama at Birmingham,100663,Birmingham,AL
2,Amridge University,100690,Montgomery,AL
3,University of Alabama in Huntsville,100706,Huntsville,AL
4,Alabama State University,100724,Montgomery,AL
5,The University of Alabama,100751,Tuscaloosa,AL
6,Central Alabama Community College,100760,Alexander City,AL
7,Athens State University,100812,Athens,AL
8,Auburn University at Montgomery,100830,Montgomery,AL
9,Auburn University,100858,Auburn,AL
10,Birmingham Southern College,100937,Birmingham,AL
11,Chattahoochee Valley Community College,101028,Phenix City,AL
12,Concordia College Alabama,101073,Selma,AL
13,South University-Montgomery,101116,Montgomery,AL
14,Enterprise State Community College,101143,Enterprise,AL
15,James H Faulkner State Community College,101161,Bay Minette,AL
16,Faulkner University,101189,Montgomery,AL
17,Gadsden State Community College,101240,Gadsden,AL
18,New Beginning College of Cosmetology,101277,Albertville,AL
19,George C Wallace State Community College-Dothan,101286,Dothan,AL
20,George C Wallace State Community College-Hance...,101295,Hanceville,AL
21,George C Wallace State Community College-Selma,101301,Selma,AL
22,Herzing University-Birmingham,101365,Birmingham,AL
23,Huntingdon College,101435,Montgomery,AL
24,Heritage Christian University,101453,Florence,AL
25,J F Drake State Community and Technical College,101462,Huntsville,AL
26,Jacksonville State University,101480,Jacksonville,AL
27,Jefferson Davis Community College,101499,Brewton,AL
28,Jefferson State Community College,101505,Birmingham,AL
29,John C Calhoun State Community College,101514,Tanner,AL
...,...,...,...,...
7563,Strayer University-Morrow Campus,45891902,Morrow,GA
7564,Strayer University-Roswell Campus,45891903,Roswell,GA
7565,Strayer University-Douglasville Campus,45891904,Douglasville,GA
7566,Strayer University-Lithonia Campus,45891905,Lithonia,GA
7567,Strayer University-Savannah Campus,45891906,Savannah,GA
7568,Strayer University-Augusta Campus,45891907,Augusta,GA
7569,Strayer University-Columbus,45891908,Columbus,GA
7570,Strayer University-Columbia Campus,45896401,Columbia,SC
7571,Strayer University-Charleston Campus,45896402,North Charleston,SC
7572,Strayer University-Irving,45897301,Irving,TX
7573,Strayer University-Katy,45897302,Houston,TX
7574,Strayer University-Northwest Houston,45897303,Houston,TX
7575,Strayer University-Plano,45897304,Plano,TX
7576,Strayer University-Cedar Hill,45897305,Cedar Hill,TX
7577,Strayer University-North Dallas,45897306,Dallas,TX
7578,Strayer University-San Antonio,45897307,San Antonio,TX
7579,Strayer University-Stafford,45897308,Stafford,TX
7580,Unitek College,45920401,Fremont,CA
7581,Relay Graduate School of Education - Newark,47503301,Newark,NJ
7582,Relay Graduate School of Education - New Orleans,47503302,New Orleans,LA
7583,WestMed College - Merced,47647001,Merced,CA
7584,Vantage College,47657701,El Paso,TX
7585,Vantage College,47657702,Austin,TX
7586,SAE Institute of Technology San Francisco,47691101,Emeryville,CA
7587,Rasmussen College - Overland Park,48065701,Overland Park,KS
7588,National Personal Training Institute of Cleveland,48154401,Highland Heights,OH
7589,Bay Area Medical Academy - San Jose Satellite ...,48387801,San Jose,CA
7590,High Desert Medical College,48400201,Lancaster,CA
7591,Vantage College-San Antonio,48414501,San Antonio,TX
7592,American Institute of Pharmaceutical Technolog...,48621101,Newark,NJ

In [12]:
remove_words = ['The ']
pat = r'\b(?:{})\b'.format('|'.join(remove_words))

id_df["INSTNM"] = id_df["INSTNM"].str.replace(pat, '')

C:\Users\rapon\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [13]:
id_df=id_df.set_index(["INSTNM"])

In [14]:
id_df

,UNITID,CITY,STABBR
INSTNM,,,
Alabama A & M University,100654,Normal,AL
University of Alabama at Birmingham,100663,Birmingham,AL
Amridge University,100690,Montgomery,AL
University of Alabama in Huntsville,100706,Huntsville,AL
Alabama State University,100724,Montgomery,AL
University of Alabama,100751,Tuscaloosa,AL
Central Alabama Community College,100760,Alexander City,AL
Athens State University,100812,Athens,AL
Auburn University at Montgomery,100830,Montgomery,AL
Auburn University,100858,Auburn,AL
Birmingham Southern College,100937,Birmingham,AL
Chattahoochee Valley Community College,101028,Phenix City,AL
Concordia College Alabama,101073,Selma,AL
South University-Montgomery,101116,Montgomery,AL
Enterprise State Community College,101143,Enterprise,AL
James H Faulkner State Community College,101161,Bay Minette,AL
Faulkner University,101189,Montgomery,AL
Gadsden State Community College,101240,Gadsden,AL
New Beginning College of Cosmetology,101277,Albertville,AL
George C Wallace State Community College-Dothan,101286,Dothan,AL
George C Wallace State Community College-Hanceville,101295,Hanceville,AL
George C Wallace State Community College-Selma,101301,Selma,AL
Herzing University-Birmingham,101365,Birmingham,AL
Huntingdon College,101435,Montgomery,AL
Heritage Christian University,101453,Florence,AL
J F Drake State Community and Technical College,101462,Huntsville,AL
Jacksonville State University,101480,Jacksonville,AL
Jefferson Davis Community College,101499,Brewton,AL
Jefferson State Community College,101505,Birmingham,AL
John C Calhoun State Community College,101514,Tanner,AL
...,...,...,...
Strayer University-Morrow Campus,45891902,Morrow,GA
Strayer University-Roswell Campus,45891903,Roswell,GA
Strayer University-Douglasville Campus,45891904,Douglasville,GA
Strayer University-Lithonia Campus,45891905,Lithonia,GA
Strayer University-Savannah Campus,45891906,Savannah,GA
Strayer University-Augusta Campus,45891907,Augusta,GA
Strayer University-Columbus,45891908,Columbus,GA
Strayer University-Columbia Campus,45896401,Columbia,SC
Strayer University-Charleston Campus,45896402,North Charleston,SC
Strayer University-Irving,45897301,Irving,TX
Strayer University-Katy,45897302,Houston,TX
Strayer University-Northwest Houston,45897303,Houston,TX
Strayer University-Plano,45897304,Plano,TX
Strayer University-Cedar Hill,45897305,Cedar Hill,TX
Strayer University-North Dallas,45897306,Dallas,TX
Strayer University-San Antonio,45897307,San Antonio,TX
Strayer University-Stafford,45897308,Stafford,TX
Unitek College,45920401,Fremont,CA
Relay Graduate School of Education - Newark,47503301,Newark,NJ
Relay Graduate School of Education - New Orleans,47503302,New Orleans,LA
WestMed College - Merced,47647001,Merced,CA
Vantage College,47657701,El Paso,TX
Vantage College,47657702,Austin,TX
SAE Institute of Technology San Francisco,47691101,Emeryville,CA
Rasmussen College - Overland Park,48065701,Overland Park,KS
National Personal Training Institute of Cleveland,48154401,Highland Heights,OH
Bay Area Medical Academy - San Jose Satellite Location,48387801,San Jose,CA
High Desert Medical College,48400201,Lancaster,CA
Vantage College-San Antonio,48414501,San Antonio,TX
American Institute of Pharmaceutical Technology - Polifly,48621101,Newark,NJ

In [15]:
the_final_df = pd.merge(df, id_df, left_index=True, right_index=True)

In [16]:
the_final_df

,US Rank 2018,World University Rank 2018,State,City,UNITID,CITY,STABBR
American University,=99,351–400,-,Washington D.C,131159,Washington,DC
Boston College,=85,301–350,Massachusetts,Newton,164924,Chestnut Hill,MA
Boston University,=34,=70,Massachusetts,Boston,164988,Boston,MA
Brandeis University,=63,201–250,Massachusetts,Waltham,165015,Waltham,MA
Brown University,=25,=50,Rhode Island,Providence,217156,Providence,RI
California Institute of Technology,=1,=3,California,Pasadena,110404,Pasadena,CA
Carnegie Mellon University,17,24,Pennsylvania,Pittsburgh,211440,Pittsburgh,PA
Case Western Reserve University,52,158,Ohio,Cleveland,201645,Cleveland,OH
Clark University,=72,251–300,Massachusetts,Worcester,165334,Worcester,MA
Colorado School of Mines,=72,251–300,Colarado,Golden,126775,Golden,CO
Cornell University,14,19,New York State,Ithaca,190415,Ithaca,NY
Dartmouth College,39,89,New Hampshire,Hanover,182670,Hanover,NH
Duke University,12,17,North Carolina,Durham,198419,Durham,NC
Emory University,40,98,Georgia,Atlanta,139658,Atlanta,GA
Florida State University,=63,201–250,Florida,Tallahassee,134097,Tallahassee,FL
George Mason University,=85,301–350,Virginia,Fairfax,232186,Fairfax,VA
George Washington University,=63,201–250,-,Washington D.C,131469,Washington,DC
Georgetown University,47,=123,-,Washington D.C,131496,Washington,DC
Harvard University,4,6,Massachusetts,Cambridge,166027,Cambridge,MA
Iowa State University,=85,301–350,Iowa,Ames,153603,Ames,IA
Johns Hopkins University,9,13,Maryland,Baltimore,162928,Baltimore,MD
Massachusetts Institute of Technology,3,5,Massachusetts,Cambridge,166683,Cambridge,MA
Michigan State University,37,=83,Michigan,East Lansing,171100,East Lansing,MI
New York University,19,=27,New York State,New York City,193900,New York,NY
Northeastern University,61,193,Massachusetts,Boston,167358,Boston,MA
Northwestern University,15,20,Illinois,Evanston,147767,Evanston,IL
Oregon State University,=85,301–350,Oregon,Corvallis,209542,Corvallis,OR
Princeton University,5,7,New Jersey,Princeton,186131,Princeton,NJ
Rensselaer Polytechnic Institute,=85,301–350,New York State,Troy,194824,Troy,NY
Rice University,38,=86,Texas,Houston,227757,Houston,TX
...,...,...,...,...,...,...,...
University of Chicago,6,9,Illinois,Chicago,144050,Chicago,IL
University of Colorado Boulder,=42,=100,Colorado,Boulder,126614,Boulder,CO
University of Connecticut,=85,301–350,Connecticut,Mansfield,129020,Storrs,CT
University of Delaware,=63,201–250,Delware,Newark (DE),130943,Newark,DE
University of Denver,=85,301–350,Colorado,Denver,127060,Denver,CO
University of Florida,49,=143,Florida,Gainesville,134130,Gainesville,FL
University of Houston,=85,301–350,Texas,Houston,225511,Houston,TX
University of Illinois at Chicago,=72,251–300,Illinois,Chicago,145600,Chicago,IL
University of Illinois at Urbana-Champaign,22,37,Illinois,Champaign,145637,Champaign,IL
University of Iowa,=63,201–250,Iowa,Iowa City,153658,Iowa City,IA
University of Miami,59,186,Florida,Coral Gables,135726,Coral Gables,FL
University of Minnesota,=29,=56,Minnesota,Minneapolis,174066,Minneapolis,MN
University of Nebraska-Lincoln,=85,301–350,Nebraska,Lincoln,181464,Lincoln,NE
University of North Carolina at Chapel Hill,=29,=56,North Carolina,Chapel Hill,199120,Chapel Hill,NC
University of Notre Dame,50,=150,Indiana,Notre Dame,152080,Notre Dame,IN
University of Oregon,=72,251–300,Oregon,Eugene,209551,Eugene,OR
University of Pennsylvania,7,=10,Pennsylvania,Philadelphia,215062,Philadelphia,PA
University of Rochester,51,=153,New York State,Rochester (NY),195030,Rochester,NY
University of Southern California,32,66,California,Los Angeles,123961,Los Angeles,CA
University of Tennessee - Knoxville,=85,301–350,Tennessee,Knoxville,221759,Knoxville,TN
University of Texas at Austin,24,49,Texas,Austin,228778,Austin,TX
University of Texas at Dallas,=63,201–250,Texas,Richardson,228787,Richardson,TX
University of Utah,=63,201–250,Utah,Salt Lake City,230764,Salt Lake City,UT
University of Wisconsin-Madison,23,43,Wisconsin,Madison,240444,Madison,WI
Vanderbilt University,44,=105,Tennessee,Nashville,221999,Nashville,TN
Virginia Polytechnic Institute and State University,=85,301–350,Virginia,Blacksburg,233921,Blacksburg,VA
Wake Forest University,=72,251–300,North Carolina,Winston-Salem,199847,Winston-Salem,NC
Washington State University,=85,301–350,Washington,Pullman,236939,Pullman,WA
Washington University in St Louis,=25,=50,Missouri,St. Louis,179867,Saint Louis,MO
Yale University,8,12,Connecticut,New Havem,130794,New Haven,CT

In [17]:
id_list = the_final_df["UNITID"].tolist()

In [18]:
print(id_list)

[131159, 164924, 164988, 165015, 217156, 110404, 211440, 201645, 165334, 126775, 190415, 182670, 198419, 139658, 134097, 232186, 131469, 131496, 166027, 153603, 162928, 166683, 171100, 193900, 167358, 147767, 209542, 186131, 194824, 227757, 148511, 243744, 196097, 196413, 168148, 196088, 100751, 100663, 102614, 104179, 144050, 126614, 129020, 130943, 127060, 134130, 225511, 145600, 145637, 153658, 135726, 174066, 181464, 199120, 152080, 209551, 215062, 195030, 123961, 221759, 228778, 228787, 230764, 240444, 221999, 233921, 199847, 236939, 179867, 130794]

In [19]:
name = []
lat = []
lon = []

for item in id_list:
    url = "https://api.data.gov/ed/collegescorecard//v1/schools.json?"
    query = f"{url}&api_key={api_key}&id={item}"
    response = requests.get(query).json()
    i = 0
    for x in response['results']:
        name.append(response['results'][i]['school']['name'])
        lat.append(response['results'][i]['location']['lat'])
        lon.append(response['results'][i]['location']['lon'])
        
        i+=1

In [20]:
print (name)

['American University', 'Boston College', 'Boston University', 'Brandeis University', 'Brown University', 'California Institute of Technology', 'Carnegie Mellon University', 'Case Western Reserve University', 'Clark University', 'Colorado School of Mines', 'Cornell University', 'Dartmouth College', 'Duke University', 'Emory University', 'Florida State University', 'George Mason University', 'George Washington University', 'Georgetown University', 'Harvard University', 'Iowa State University', 'Johns Hopkins University', 'Massachusetts Institute of Technology', 'Michigan State University', 'New York University', 'Northeastern University', 'Northwestern University', 'Oregon State University', 'Princeton University', 'Rensselaer Polytechnic Institute', 'Rice University', 'Rush University', 'Stanford University', 'Stony Brook University', 'Syracuse University', 'Tufts University', 'University at Buffalo', 'The University of Alabama', 'University of Alabama at Birmingham', 'University of Alaska Fairbanks', 'University of Arizona', 'University of Chicago', 'University of Colorado Boulder', 'University of Connecticut', 'University of Delaware', 'University of Denver', 'University of Florida', 'University of Houston', 'University of Illinois at Chicago', 'University of Illinois at Urbana-Champaign', 'University of Iowa', 'University of Miami', 'University of Minnesota-Twin Cities', 'University of Nebraska-Lincoln', 'University of North Carolina at Chapel Hill', 'University of Notre Dame', 'University of Oregon', 'University of Pennsylvania', 'University of Rochester', 'University of Southern California', 'The University of Tennessee-Knoxville', 'The University of Texas at Austin', 'The University of Texas at Dallas', 'University of Utah', 'University of Wisconsin-Madison', 'Vanderbilt University', 'Virginia Polytechnic Institute and State University', 'Wake Forest University', 'Washington State University', 'Washington University in St Louis', 'Yale University']

In [21]:
print(lat)

[38.937802, 42.337688, 42.349581, 42.364947, 41.827605, 34.139275, 40.444616, 41.500812, 42.251064, 39.75079, 42.447199, 43.70408, 36.00159, 33.798836, 30.4421, 38.83088, 38.89865, 38.908809, 42.374429, 42.026368, 39.32838, 42.360095, 42.73212, 40.729452, 42.339992, 42.058377, 44.56274, 40.34853, 42.728983, 29.716485, 41.874911, 37.426967, 40.913138, 43.040005, 42.406994, 43.001433, 33.2144, 33.50223, 64.856483, 32.232071, 41.78917, 40.004415, 41.806261, 39.679574, 39.695954, 29.649428, 29.719988, 41.872651, 40.108864, 41.660695, 25.720406, 44.977886, 40.822272, 35.912165, 41.703058, 44.044515, 39.951002, 43.126437, 34.021058, 35.955093, 30.286598, 32.989432, 40.762484, 43.073858, 36.14443, 37.228572, 36.135301, 46.730448, 38.648125, 41.311158]

In [22]:
print(lon)

[-77.090106, -71.171488, -71.09984, -71.254716, -71.404467, -118.12574, -79.942914, -81.605769, -71.823537, -105.227148, -76.483489, -72.289951, -78.94226, -84.325782, -84.294801, -77.30794, -77.047871, -77.073463, -71.118177, -93.648353, -76.620799, -71.092115, -84.476111, -73.997264, -71.088782, -87.673653, -123.274721, -74.663603, -73.678768, -95.403625, -87.667498, -122.168826, -73.123595, -76.136633, -71.121689, -78.790103, -87.545766, -86.80917, -147.822943, -110.950769, -87.601196, -105.267061, -72.247969, -75.752917, -104.964625, -82.339958, -95.344851, -87.651145, -88.230309, -91.535698, -80.27645, -93.235352, -96.702177, -79.050969, -86.238959, -123.07398, -75.193618, -77.631042, -118.283858, -83.929696, -97.73924, -96.748371, -111.846044, -89.405356, -86.804875, -80.423229, -80.279004, -117.158168, -90.311639, -72.926688]

In [23]:
college_df = pd.DataFrame({
    "Name": name,
    "Latitude": lat,
    "Longitude": lon
})

In [24]:
college_df

     Latitude   Longitude                                               Name
0   38.937802  -77.090106                                American University
1   42.337688  -71.171488                                     Boston College
2   42.349581  -71.099840                                  Boston University
3   42.364947  -71.254716                                Brandeis University
4   41.827605  -71.404467                                   Brown University
5   34.139275 -118.125740                 California Institute of Technology
6   40.444616  -79.942914                         Carnegie Mellon University
7   41.500812  -81.605769                    Case Western Reserve University
8   42.251064  -71.823537                                   Clark University
9   39.750790 -105.227148                           Colorado School of Mines
10  42.447199  -76.483489                                 Cornell University
11  43.704080  -72.289951                                  Dartmouth College
12  36.001590  -78.942260                                    Duke University
13  33.798836  -84.325782                                   Emory University
14  30.442100  -84.294801                           Florida State University
15  38.830880  -77.307940                            George Mason University
16  38.898650  -77.047871                       George Washington University
17  38.908809  -77.073463                              Georgetown University
18  42.374429  -71.118177                                 Harvard University
19  42.026368  -93.648353                              Iowa State University
20  39.328380  -76.620799                           Johns Hopkins University
21  42.360095  -71.092115              Massachusetts Institute of Technology
22  42.732120  -84.476111                          Michigan State University
23  40.729452  -73.997264                                New York University
24  42.339992  -71.088782                            Northeastern University
25  42.058377  -87.673653                            Northwestern University
26  44.562740 -123.274721                            Oregon State University
27  40.348530  -74.663603                               Princeton University
28  42.728983  -73.678768                   Rensselaer Polytechnic Institute
29  29.716485  -95.403625                                    Rice University
..        ...         ...                                                ...
40  41.789170  -87.601196                              University of Chicago
41  40.004415 -105.267061                     University of Colorado Boulder
42  41.806261  -72.247969                          University of Connecticut
43  39.679574  -75.752917                             University of Delaware
44  39.695954 -104.964625                               University of Denver
45  29.649428  -82.339958                              University of Florida
46  29.719988  -95.344851                              University of Houston
47  41.872651  -87.651145                  University of Illinois at Chicago
48  40.108864  -88.230309         University of Illinois at Urbana-Champaign
49  41.660695  -91.535698                                 University of Iowa
50  25.720406  -80.276450                                University of Miami
51  44.977886  -93.235352                University of Minnesota-Twin Cities
52  40.822272  -96.702177                     University of Nebraska-Lincoln
53  35.912165  -79.050969        University of North Carolina at Chapel Hill
54  41.703058  -86.238959                           University of Notre Dame
55  44.044515 -123.073980                               University of Oregon
56  39.951002  -75.193618                         University of Pennsylvania
57  43.126437  -77.631042                            University of Rochester
58  34.021058 -118.283858                  University of Southern California
59  35.955093  -83.929696              The University of Tennessee-Knoxville
60  30.286598  -97.739240                  The University of Texas at Austin
61  32.989432  -96.748371                  The University of Texas at Dallas
62  40.762484 -111.846044                                 University of Utah
63  43.073858  -89.405356                    University of Wisconsin-Madison
64  36.144430  -86.804875                              Vanderbilt University
65  37.228572  -80.423229  Virginia Polytechnic Institute and State Unive...
66  36.135301  -80.279004                             Wake Forest University
67  46.730448 -117.158168                        Washington State University
68  38.648125  -90.311639                  Washington University in St Louis
69  41.311158  -72.926688                                    Yale University

[70 rows x 3 columns]

In [25]:
college_df.to_json("college.json", orient="records")

In [26]:
name2 = []
debt_less_thirty = []
debt_less_seventyfive = []
debt_greater_seventyfive = []
monthly_pay = []

for item in id_list:
    url = "https://api.data.gov/ed/collegescorecard//v1/schools.json?"
    query = f"{url}&api_key={api_key}&id={item}"
    response = requests.get(query).json()
    i = 0
    for x in response['results']:
        name2.append(response['results'][i]['school']['name'])
        debt_less_thirty.append(response['results'][i]['2015']['aid']['median_debt']['income']['0_30000'])
        debt_less_seventyfive.append(response['results'][i]['2015']['aid']['median_debt']['income']['30001_75000'])
        debt_greater_seventyfive.append(response['results'][i]['2015']['aid']['median_debt']['income']['greater_than_75000'])
        monthly_pay.append(response['results'][i]['2015']['aid']['median_debt_suppressed']['completers']['monthly_payments'])
        
        
        i+=1

In [27]:
print(monthly_pay)

[250.739073913714, 196.455356880848, 279.173401883311, 279.173401883311, 155.096334379617, 148.375493223167, 271.41858516433, 248.84172875647, 279.173401883311, 268.833646258003, 124.077067503693, 139.188620350081, 77.5481671898086, 178.185008690929, 214.549929225137, 204.210173599829, 258.100979918933, 160.266212192271, 67.2084115645008, 246.789287264846, 155.096334379617, 179.04320840783, 263.503502233157, 240.399318288406, 288.220688055455, 200.363784507214, 242.984257194733, 77.5481671898086, 284.343279695964, 105.749850657835, 225.117159474201, 128.988451425715, 196.455356880848, 279.173401883311, 186.11560125554, 201.625234693502, 245.56919610106, 222.304745944118, 175.522521617412, 196.455356880848, 149.926456566963, 201.625234693502, 222.304745944118, 250.253105399325, 245.041868564169, 163.523235214243, 204.210173599829, 193.870417974521, 211.96499031881, 223.504157596653, 205.202790139858, 208.707967296838, 224.372697069179, 170.388832949447, 222.304745944118, 218.17918344962, 213.345347694788, 253.324012820041, 231.352032116262, 206.795112506156, 230.059562663098, 193.870417974521, 155.096334379617, 230.059562663098, 144.756578754309, 247.807753193939, 237.814379382079, 211.230867669413, 205.761136943625, 139.586700941655]

In [28]:
len(monthly_pay)

70

In [29]:
len(name)

70

In [30]:
len(debt_less_thirty)

70

In [31]:
college_data = pd.DataFrame({
    "University": name,
    "Debt for Income <30K": debt_less_thirty,
    "Debt for Income between 31K & 75K": debt_less_seventyfive,
    "Debt for Income greater than 75K": debt_greater_seventyfive,
    "Monthly Payments": monthly_pay 
})

In [32]:
college_data

,Debt for Income <30K,Debt for Income between 31K & 75K,Debt for Income greater than 75K,Monthly Payments,University
0,22250.0,23019.0,19500.0,250.739074,American University
1,19000.0,19000.0,18892.0,196.455357,Boston College
2,24350.0,25500.0,23497.0,279.173402,Boston University
3,25310.0,26500.0,26500.0,279.173402,Brandeis University
4,10000.0,13500.0,16000.0,155.096334,Brown University
5,NaN,NaN,14925.0,148.375493,California Institute of Technology
6,26500.0,27000.0,23000.0,271.418585,Carnegie Mellon University
7,22200.0,24500.0,19500.0,248.841729,Case Western Reserve University
8,27000.0,26000.0,24000.0,279.173402,Clark University
9,23875.0,23791.0,20500.0,268.833646,Colorado School of Mines
10,6585.5,9513.0,13902.5,124.077068,Cornell University
11,6000.0,11093.0,16458.0,139.188620,Dartmouth College
12,4000.0,7500.0,15000.0,77.548167,Duke University
13,6227.0,18750.0,19500.0,178.185009,Emory University
14,18500.0,18750.0,18557.0,214.549929,Florida State University
15,16479.5,16000.0,15810.5,204.210174,George Mason University
16,20400.0,24268.5,20950.0,258.100980,George Washington University
17,12000.0,12524.5,16000.0,160.266212,Georgetown University
18,7500.0,6000.0,7500.0,67.208412,Harvard University
19,18960.0,19500.0,18750.0,246.789287,Iowa State University
20,9000.0,15000.0,16250.0,155.096334,Johns Hopkins University
21,10593.0,15847.0,17288.0,179.043208,Massachusetts Institute of Technology
22,21219.5,25717.0,20529.0,263.503502,Michigan State University
23,19000.0,22800.0,19800.0,240.399318,New York University
24,24731.0,25000.0,25500.0,288.220688,Northeastern University
25,15895.0,19312.0,18000.0,200.363785,Northwestern University
26,18000.0,16500.0,15000.0,242.984257,Oregon State University
27,3765.0,3638.0,12290.0,77.548167,Princeton University
28,30899.0,29325.0,25750.0,284.343280,Rensselaer Polytechnic Institute
29,7500.0,8763.5,11000.0,105.749851,Rice University
...,...,...,...,...,...
40,6300.0,14500.0,20064.0,149.926457,University of Chicago
41,15000.0,13500.0,13000.0,201.625235,University of Colorado Boulder
42,16250.0,19124.5,19250.0,222.304746,University of Connecticut
43,20000.0,21000.0,22000.0,250.253105,University of Delaware
44,19667.0,21500.0,18332.0,245.041869,University of Denver
45,13279.5,14750.0,15000.0,163.523235,University of Florida
46,13750.0,12993.0,13000.0,204.210174,University of Houston
47,14166.0,13798.0,15000.0,193.870418,University of Illinois at Chicago
48,16750.0,20000.0,18750.0,211.964990,University of Illinois at Urbana-Champaign
49,14243.5,17505.0,18250.0,223.504158,University of Iowa
50,18250.0,18475.0,17500.0,205.202790,University of Miami
51,17492.0,17416.0,17250.0,208.707967,University of Minnesota-Twin Cities
52,13650.0,14664.5,14988.0,224.372697,University of Nebraska-Lincoln
53,11000.0,15500.0,17017.0,170.388833,University of North Carolina at Chapel Hill
54,19000.0,19000.0,21500.0,222.304746,University of Notre Dame
55,18961.0,16499.0,16091.0,218.179183,University of Oregon
56,13695.0,17632.5,21500.0,213.345348,University of Pennsylvania
57,21650.0,25000.0,21500.0,253.324013,University of Rochester
58,22500.0,22750.0,19711.5,231.352032,University of Southern California
59,12500.0,14750.0,14500.0,206.795113,The University of Tennessee-Knoxville
60,22132.5,21006.5,19623.0,230.059563,The University of Texas at Austin
61,13750.0,14707.0,12500.0,193.870418,The University of Texas at Dallas
62,11313.0,12500.0,12000.0,155.096334,University of Utah
63,18615.0,21436.5,19900.0,230.059563,University of Wisconsin-Madison
64,7341.0,11000.0,15000.0,144.756579,Vanderbilt University
65,21959.5,22500.0,20937.0,247.807753,Virginia Polytechnic Institute and State Unive...
66,24514.0,26609.0,20500.0,237.814379,Wake Forest University
67,15000.0,14759.0,14750.0,211.230868,Washington State University
68,13593.0,17548.0,19725.5,205.761137,Washington University in St Louis
69,10026.5,9000.0,15000.0,139.586701,Yale University

In [52]:
college_data= college_data.round({'Monthly Payments': 2})

In [36]:
#Do I want to drop Nans???
college_data.isnull().sum(axis=1).tolist()

[0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [38]:
college_data.head(31)

,Debt for Income <30K,Debt for Income between 31K & 75K,Debt for Income greater than 75K,Monthly Payments,University
0,22250.0,23019.0,19500.0,250.739074,American University
1,19000.0,19000.0,18892.0,196.455357,Boston College
2,24350.0,25500.0,23497.0,279.173402,Boston University
3,25310.0,26500.0,26500.0,279.173402,Brandeis University
4,10000.0,13500.0,16000.0,155.096334,Brown University
5,NaN,NaN,14925.0,148.375493,California Institute of Technology
6,26500.0,27000.0,23000.0,271.418585,Carnegie Mellon University
7,22200.0,24500.0,19500.0,248.841729,Case Western Reserve University
8,27000.0,26000.0,24000.0,279.173402,Clark University
9,23875.0,23791.0,20500.0,268.833646,Colorado School of Mines
10,6585.5,9513.0,13902.5,124.077068,Cornell University
11,6000.0,11093.0,16458.0,139.188620,Dartmouth College
12,4000.0,7500.0,15000.0,77.548167,Duke University
13,6227.0,18750.0,19500.0,178.185009,Emory University
14,18500.0,18750.0,18557.0,214.549929,Florida State University
15,16479.5,16000.0,15810.5,204.210174,George Mason University
16,20400.0,24268.5,20950.0,258.100980,George Washington University
17,12000.0,12524.5,16000.0,160.266212,Georgetown University
18,7500.0,6000.0,7500.0,67.208412,Harvard University
19,18960.0,19500.0,18750.0,246.789287,Iowa State University
20,9000.0,15000.0,16250.0,155.096334,Johns Hopkins University
21,10593.0,15847.0,17288.0,179.043208,Massachusetts Institute of Technology
22,21219.5,25717.0,20529.0,263.503502,Michigan State University
23,19000.0,22800.0,19800.0,240.399318,New York University
24,24731.0,25000.0,25500.0,288.220688,Northeastern University
25,15895.0,19312.0,18000.0,200.363785,Northwestern University
26,18000.0,16500.0,15000.0,242.984257,Oregon State University
27,3765.0,3638.0,12290.0,77.548167,Princeton University
28,30899.0,29325.0,25750.0,284.343280,Rensselaer Polytechnic Institute
29,7500.0,8763.5,11000.0,105.749851,Rice University
30,26200.0,NaN,NaN,225.117159,Rush University

In [39]:
college_data = college_data.dropna(how='any')

In [50]:
college_data = college_data.set_index(['University'])

In [53]:
college_data.head()

,Debt for Income <30K,Debt for Income between 31K & 75K,Debt for Income greater than 75K,Monthly Payments
University,,,,
American University,22250.0,23019.0,19500.0,250.74
Boston College,19000.0,19000.0,18892.0,196.46
Boston University,24350.0,25500.0,23497.0,279.17
Brandeis University,25310.0,26500.0,26500.0,279.17
Brown University,10000.0,13500.0,16000.0,155.10

In [41]:
update_college_df = pd.read_json("college.json", orient="records")

In [42]:
update_college_df

     Latitude   Longitude                                               Name
0   38.937802  -77.090106                                American University
1   42.337688  -71.171488                                     Boston College
2   42.349581  -71.099840                                  Boston University
3   42.364947  -71.254716                                Brandeis University
4   41.827605  -71.404467                                   Brown University
5   34.139275 -118.125740                 California Institute of Technology
6   40.444616  -79.942914                         Carnegie Mellon University
7   41.500812  -81.605769                    Case Western Reserve University
8   42.251064  -71.823537                                   Clark University
9   39.750790 -105.227148                           Colorado School of Mines
10  42.447199  -76.483489                                 Cornell University
11  43.704080  -72.289951                                  Dartmouth College
12  36.001590  -78.942260                                    Duke University
13  33.798836  -84.325782                                   Emory University
14  30.442100  -84.294801                           Florida State University
15  38.830880  -77.307940                            George Mason University
16  38.898650  -77.047871                       George Washington University
17  38.908809  -77.073463                              Georgetown University
18  42.374429  -71.118177                                 Harvard University
19  42.026368  -93.648353                              Iowa State University
20  39.328380  -76.620799                           Johns Hopkins University
21  42.360095  -71.092115              Massachusetts Institute of Technology
22  42.732120  -84.476111                          Michigan State University
23  40.729452  -73.997264                                New York University
24  42.339992  -71.088782                            Northeastern University
25  42.058377  -87.673653                            Northwestern University
26  44.562740 -123.274721                            Oregon State University
27  40.348530  -74.663603                               Princeton University
28  42.728983  -73.678768                   Rensselaer Polytechnic Institute
29  29.716485  -95.403625                                    Rice University
..        ...         ...                                                ...
40  41.789170  -87.601196                              University of Chicago
41  40.004415 -105.267061                     University of Colorado Boulder
42  41.806261  -72.247969                          University of Connecticut
43  39.679574  -75.752917                             University of Delaware
44  39.695954 -104.964625                               University of Denver
45  29.649428  -82.339958                              University of Florida
46  29.719988  -95.344851                              University of Houston
47  41.872651  -87.651145                  University of Illinois at Chicago
48  40.108864  -88.230309         University of Illinois at Urbana-Champaign
49  41.660695  -91.535698                                 University of Iowa
50  25.720406  -80.276450                                University of Miami
51  44.977886  -93.235352                University of Minnesota-Twin Cities
52  40.822272  -96.702177                     University of Nebraska-Lincoln
53  35.912165  -79.050969        University of North Carolina at Chapel Hill
54  41.703058  -86.238959                           University of Notre Dame
55  44.044515 -123.073980                               University of Oregon
56  39.951002  -75.193618                         University of Pennsylvania
57  43.126437  -77.631042                            University of Rochester
58  34.021058 -118.283858                  University of Southern California
59  35.955093  -83.929696              The University of Tennessee-Knoxville
60  30.286598  -97.739240                  The University of Texas at Austin
61  32.989432  -96.748371                  The University of Texas at Dallas
62  40.762484 -111.846044                                 University of Utah
63  43.073858  -89.405356                    University of Wisconsin-Madison
64  36.144430  -86.804875                              Vanderbilt University
65  37.228572  -80.423229  Virginia Polytechnic Institute and State Unive...
66  36.135301  -80.279004                             Wake Forest University
67  46.730448 -117.158168                        Washington State University
68  38.648125  -90.311639                  Washington University in St Louis
69  41.311158  -72.926688                                    Yale University

[70 rows x 3 columns]

In [46]:
update_college_df = update_college_df.drop([5,30])

In [47]:
update_college_df.head(30)

     Latitude   Longitude                                   Name
0   38.937802  -77.090106                    American University
1   42.337688  -71.171488                         Boston College
2   42.349581  -71.099840                      Boston University
3   42.364947  -71.254716                    Brandeis University
4   41.827605  -71.404467                       Brown University
6   40.444616  -79.942914             Carnegie Mellon University
7   41.500812  -81.605769        Case Western Reserve University
8   42.251064  -71.823537                       Clark University
9   39.750790 -105.227148               Colorado School of Mines
10  42.447199  -76.483489                     Cornell University
11  43.704080  -72.289951                      Dartmouth College
12  36.001590  -78.942260                        Duke University
13  33.798836  -84.325782                       Emory University
14  30.442100  -84.294801               Florida State University
15  38.830880  -77.307940                George Mason University
16  38.898650  -77.047871           George Washington University
17  38.908809  -77.073463                  Georgetown University
18  42.374429  -71.118177                     Harvard University
19  42.026368  -93.648353                  Iowa State University
20  39.328380  -76.620799               Johns Hopkins University
21  42.360095  -71.092115  Massachusetts Institute of Technology
22  42.732120  -84.476111              Michigan State University
23  40.729452  -73.997264                    New York University
24  42.339992  -71.088782                Northeastern University
25  42.058377  -87.673653                Northwestern University
26  44.562740 -123.274721                Oregon State University
27  40.348530  -74.663603                   Princeton University
28  42.728983  -73.678768       Rensselaer Polytechnic Institute
29  29.716485  -95.403625                        Rice University
31  37.426967 -122.168826                    Stanford University

In [55]:
update_college_df = update_college_df.set_index(['Name'])

In [57]:
final_college_df = pd.merge(update_college_df, college_data, left_index =True, right_index=True)

In [58]:
final_college_df.head()

,Latitude,Longitude,Debt for Income <30K,Debt for Income between 31K & 75K,Debt for Income greater than 75K,Monthly Payments
American University,38.937802,-77.090106,22250.0,23019.0,19500.0,250.74
Boston College,42.337688,-71.171488,19000.0,19000.0,18892.0,196.46
Boston University,42.349581,-71.099840,24350.0,25500.0,23497.0,279.17
Brandeis University,42.364947,-71.254716,25310.0,26500.0,26500.0,279.17
Brown University,41.827605,-71.404467,10000.0,13500.0,16000.0,155.10

In [62]:
final_college_df=final_college_df.reset_index()

In [63]:
final_college_df.head()

,index,Latitude,Longitude,Debt for Income <30K,Debt for Income between 31K & 75K,Debt for Income greater than 75K,Monthly Payments
0,American University,38.937802,-77.090106,22250.0,23019.0,19500.0,250.74
1,Boston College,42.337688,-71.171488,19000.0,19000.0,18892.0,196.46
2,Boston University,42.349581,-71.099840,24350.0,25500.0,23497.0,279.17
3,Brandeis University,42.364947,-71.254716,25310.0,26500.0,26500.0,279.17
4,Brown University,41.827605,-71.404467,10000.0,13500.0,16000.0,155.10

In [65]:
final_college_df=final_college_df.rename(columns={'index':'Name'})

In [66]:
final_college_df.head()

,Name,Latitude,Longitude,Debt for Income <30K,Debt for Income between 31K & 75K,Debt for Income greater than 75K,Monthly Payments
0,American University,38.937802,-77.090106,22250.0,23019.0,19500.0,250.74
1,Boston College,42.337688,-71.171488,19000.0,19000.0,18892.0,196.46
2,Boston University,42.349581,-71.099840,24350.0,25500.0,23497.0,279.17
3,Brandeis University,42.364947,-71.254716,25310.0,26500.0,26500.0,279.17
4,Brown University,41.827605,-71.404467,10000.0,13500.0,16000.0,155.10

In [67]:
final_college_df.to_json("college.json", orient="records")