In [1]:
import pandas as pd
import json

In [2]:
college_data = pd.read_json("college.json")

In [3]:
college_data = college_data.rename(columns= {"Debt for Income <30K":"Debt_Less_Thirty", "Debt for Income between 31K & 75K":"Debt_Less_Seventyfive", "Debt for Income greater than 75K":"Debt_Greater_Seventyfive", "Monthly Payments": "Monthly_Payments" })

In [4]:
college_data

,Debt_Less_Thirty,Debt_Less_Seventyfive,Debt_Greater_Seventyfive,Latitude,Longitude,Monthly_Payments,Name
0,22250.0,23019.0,19500.0,38.937802,-77.090106,250.74,American University
1,19000.0,19000.0,18892.0,42.337688,-71.171488,196.46,Boston College
2,24350.0,25500.0,23497.0,42.349581,-71.099840,279.17,Boston University
3,25310.0,26500.0,26500.0,42.364947,-71.254716,279.17,Brandeis University
4,10000.0,13500.0,16000.0,41.827605,-71.404467,155.10,Brown University
5,26500.0,27000.0,23000.0,40.444616,-79.942914,271.42,Carnegie Mellon University
6,22200.0,24500.0,19500.0,41.500812,-81.605769,248.84,Case Western Reserve University
7,27000.0,26000.0,24000.0,42.251064,-71.823537,279.17,Clark University
8,23875.0,23791.0,20500.0,39.750790,-105.227148,268.83,Colorado School of Mines
9,6585.5,9513.0,13902.5,42.447199,-76.483489,124.08,Cornell University
10,6000.0,11093.0,16458.0,43.704080,-72.289951,139.19,Dartmouth College
11,4000.0,7500.0,15000.0,36.001590,-78.942260,77.55,Duke University
12,6227.0,18750.0,19500.0,33.798836,-84.325782,178.19,Emory University
13,18500.0,18750.0,18557.0,30.442100,-84.294801,214.55,Florida State University
14,16479.5,16000.0,15810.5,38.830880,-77.307940,204.21,George Mason University
15,20400.0,24268.5,20950.0,38.898650,-77.047871,258.10,George Washington University
16,12000.0,12524.5,16000.0,38.908809,-77.073463,160.27,Georgetown University
17,7500.0,6000.0,7500.0,42.374429,-71.118177,67.21,Harvard University
18,18960.0,19500.0,18750.0,42.026368,-93.648353,246.79,Iowa State University
19,9000.0,15000.0,16250.0,39.328380,-76.620799,155.10,Johns Hopkins University
20,10593.0,15847.0,17288.0,42.360095,-71.092115,179.04,Massachusetts Institute of Technology
21,21219.5,25717.0,20529.0,42.732120,-84.476111,263.50,Michigan State University
22,19000.0,22800.0,19800.0,40.729452,-73.997264,240.40,New York University
23,24731.0,25000.0,25500.0,42.339992,-71.088782,288.22,Northeastern University
24,15895.0,19312.0,18000.0,42.058377,-87.673653,200.36,Northwestern University
25,18000.0,16500.0,15000.0,44.562740,-123.274721,242.98,Oregon State University
26,3765.0,3638.0,12290.0,40.348530,-74.663603,77.55,Princeton University
27,30899.0,29325.0,25750.0,42.728983,-73.678768,284.34,Rensselaer Polytechnic Institute
28,7500.0,8763.5,11000.0,29.716485,-95.403625,105.75,Rice University
29,7382.0,10144.0,15039.5,37.426967,-122.168826,128.99,Stanford University
...,...,...,...,...,...,...,...
38,6300.0,14500.0,20064.0,41.789170,-87.601196,149.93,University of Chicago
39,15000.0,13500.0,13000.0,40.004415,-105.267061,201.63,University of Colorado Boulder
40,16250.0,19124.5,19250.0,41.806261,-72.247969,222.30,University of Connecticut
41,20000.0,21000.0,22000.0,39.679574,-75.752917,250.25,University of Delaware
42,19667.0,21500.0,18332.0,39.695954,-104.964625,245.04,University of Denver
43,13279.5,14750.0,15000.0,29.649428,-82.339958,163.52,University of Florida
44,13750.0,12993.0,13000.0,29.719988,-95.344851,204.21,University of Houston
45,14166.0,13798.0,15000.0,41.872651,-87.651145,193.87,University of Illinois at Chicago
46,16750.0,20000.0,18750.0,40.108864,-88.230309,211.96,University of Illinois at Urbana-Champaign
47,14243.5,17505.0,18250.0,41.660695,-91.535698,223.50,University of Iowa
48,18250.0,18475.0,17500.0,25.720406,-80.276450,205.20,University of Miami
49,17492.0,17416.0,17250.0,44.977886,-93.235352,208.71,University of Minnesota-Twin Cities
50,13650.0,14664.5,14988.0,40.822272,-96.702177,224.37,University of Nebraska-Lincoln
51,11000.0,15500.0,17017.0,35.912165,-79.050969,170.39,University of North Carolina at Chapel Hill
52,19000.0,19000.0,21500.0,41.703058,-86.238959,222.30,University of Notre Dame
53,18961.0,16499.0,16091.0,44.044515,-123.073980,218.18,University of Oregon
54,13695.0,17632.5,21500.0,39.951002,-75.193618,213.35,University of Pennsylvania
55,21650.0,25000.0,21500.0,43.126437,-77.631042,253.32,University of Rochester
56,22500.0,22750.0,19711.5,34.021058,-118.283858,231.35,University of Southern California
57,12500.0,14750.0,14500.0,35.955093,-83.929696,206.80,The University of Tennessee-Knoxville
58,22132.5,21006.5,19623.0,30.286598,-97.739240,230.06,The University of Texas at Austin
59,13750.0,14707.0,12500.0,32.989432,-96.748371,193.87,The University of Texas at Dallas
60,11313.0,12500.0,12000.0,40.762484,-111.846044,155.10,University of Utah
61,18615.0,21436.5,19900.0,43.073858,-89.405356,230.06,University of Wisconsin-Madison
62,7341.0,11000.0,15000.0,36.144430,-86.804875,144.76,Vanderbilt University
63,21959.5,22500.0,20937.0,37.228572,-80.423229,247.81,Virginia Polytechnic Institute and State Unive...
64,24514.0,26609.0,20500.0,36.135301,-80.279004,237.81,Wake Forest University
65,15000.0,14759.0,14750.0,46.730448,-117.158168,211.23,Washington State University
66,13593.0,17548.0,19725.5,38.648125,-90.311639,205.76,Washington University in St Louis
67,10026.5,9000.0,15000.0,41.311158,-72.926688,139.59,Yale University

In [5]:
college_data.dtypes

Debt_Less_Thirty            float64
Debt_Less_Seventyfive       float64
Debt_Greater_Seventyfive    float64
Latitude                    float64
Longitude                   float64
Monthly_Payments            float64
Name                         object
dtype: object

In [6]:
college_data=college_data.round({"MonthlyPayments":1})
college_data.head()

,Debt_Less_Thirty,Debt_Less_Seventyfive,Debt_Greater_Seventyfive,Latitude,Longitude,Monthly_Payments,Name
0,22250.0,23019.0,19500.0,38.937802,-77.090106,250.74,American University
1,19000.0,19000.0,18892.0,42.337688,-71.171488,196.46,Boston College
2,24350.0,25500.0,23497.0,42.349581,-71.099840,279.17,Boston University
3,25310.0,26500.0,26500.0,42.364947,-71.254716,279.17,Brandeis University
4,10000.0,13500.0,16000.0,41.827605,-71.404467,155.10,Brown University

In [7]:
college_data.to_csv("final_college.csv", index = False)

In [17]:
def df_to_js(college_data, properties):
    college = []
    for _, row in college_data.iterrows():
        feature = {}

        for prop in properties:
            feature[prop] = row[prop]
        college.append(feature)
    return college

In [18]:
cols = ["Name", "Monthly_Payments", "Debt_Less_Thirty", "Debt_Less_Seventyfive", "Debt_Greater_Seventyfive"]

In [19]:
college=df_to_js(college_data,cols)

In [20]:
print(college)

[{'Name': 'American University', 'Monthly_Payments': 250.74, 'Debt_Less_Thirty': 22250.0, 'Debt_Less_Seventyfive': 23019.0, 'Debt_Greater_Seventyfive': 19500.0}, {'Name': 'Boston College', 'Monthly_Payments': 196.46, 'Debt_Less_Thirty': 19000.0, 'Debt_Less_Seventyfive': 19000.0, 'Debt_Greater_Seventyfive': 18892.0}, {'Name': 'Boston University', 'Monthly_Payments': 279.17, 'Debt_Less_Thirty': 24350.0, 'Debt_Less_Seventyfive': 25500.0, 'Debt_Greater_Seventyfive': 23497.0}, {'Name': 'Brandeis University', 'Monthly_Payments': 279.17, 'Debt_Less_Thirty': 25310.0, 'Debt_Less_Seventyfive': 26500.0, 'Debt_Greater_Seventyfive': 26500.0}, {'Name': 'Brown University', 'Monthly_Payments': 155.1, 'Debt_Less_Thirty': 10000.0, 'Debt_Less_Seventyfive': 13500.0, 'Debt_Greater_Seventyfive': 16000.0}, {'Name': 'Carnegie Mellon University', 'Monthly_Payments': 271.42, 'Debt_Less_Thirty': 26500.0, 'Debt_Less_Seventyfive': 27000.0, 'Debt_Greater_Seventyfive': 23000.0}, {'Name': 'Case Western Reserve University', 'Monthly_Payments': 248.84, 'Debt_Less_Thirty': 22200.0, 'Debt_Less_Seventyfive': 24500.0, 'Debt_Greater_Seventyfive': 19500.0}, {'Name': 'Clark University', 'Monthly_Payments': 279.17, 'Debt_Less_Thirty': 27000.0, 'Debt_Less_Seventyfive': 26000.0, 'Debt_Greater_Seventyfive': 24000.0}, {'Name': 'Colorado School of Mines', 'Monthly_Payments': 268.83, 'Debt_Less_Thirty': 23875.0, 'Debt_Less_Seventyfive': 23791.0, 'Debt_Greater_Seventyfive': 20500.0}, {'Name': 'Cornell University', 'Monthly_Payments': 124.08, 'Debt_Less_Thirty': 6585.5, 'Debt_Less_Seventyfive': 9513.0, 'Debt_Greater_Seventyfive': 13902.5}, {'Name': 'Dartmouth College', 'Monthly_Payments': 139.19, 'Debt_Less_Thirty': 6000.0, 'Debt_Less_Seventyfive': 11093.0, 'Debt_Greater_Seventyfive': 16458.0}, {'Name': 'Duke University', 'Monthly_Payments': 77.55, 'Debt_Less_Thirty': 4000.0, 'Debt_Less_Seventyfive': 7500.0, 'Debt_Greater_Seventyfive': 15000.0}, {'Name': 'Emory University', 'Monthly_Payments': 178.19, 'Debt_Less_Thirty': 6227.0, 'Debt_Less_Seventyfive': 18750.0, 'Debt_Greater_Seventyfive': 19500.0}, {'Name': 'Florida State University', 'Monthly_Payments': 214.55, 'Debt_Less_Thirty': 18500.0, 'Debt_Less_Seventyfive': 18750.0, 'Debt_Greater_Seventyfive': 18557.0}, {'Name': 'George Mason University', 'Monthly_Payments': 204.21, 'Debt_Less_Thirty': 16479.5, 'Debt_Less_Seventyfive': 16000.0, 'Debt_Greater_Seventyfive': 15810.5}, {'Name': 'George Washington University', 'Monthly_Payments': 258.1, 'Debt_Less_Thirty': 20400.0, 'Debt_Less_Seventyfive': 24268.5, 'Debt_Greater_Seventyfive': 20950.0}, {'Name': 'Georgetown University', 'Monthly_Payments': 160.27, 'Debt_Less_Thirty': 12000.0, 'Debt_Less_Seventyfive': 12524.5, 'Debt_Greater_Seventyfive': 16000.0}, {'Name': 'Harvard University', 'Monthly_Payments': 67.21, 'Debt_Less_Thirty': 7500.0, 'Debt_Less_Seventyfive': 6000.0, 'Debt_Greater_Seventyfive': 7500.0}, {'Name': 'Iowa State University', 'Monthly_Payments': 246.79, 'Debt_Less_Thirty': 18960.0, 'Debt_Less_Seventyfive': 19500.0, 'Debt_Greater_Seventyfive': 18750.0}, {'Name': 'Johns Hopkins University', 'Monthly_Payments': 155.1, 'Debt_Less_Thirty': 9000.0, 'Debt_Less_Seventyfive': 15000.0, 'Debt_Greater_Seventyfive': 16250.0}, {'Name': 'Massachusetts Institute of Technology', 'Monthly_Payments': 179.04, 'Debt_Less_Thirty': 10593.0, 'Debt_Less_Seventyfive': 15847.0, 'Debt_Greater_Seventyfive': 17288.0}, {'Name': 'Michigan State University', 'Monthly_Payments': 263.5, 'Debt_Less_Thirty': 21219.5, 'Debt_Less_Seventyfive': 25717.0, 'Debt_Greater_Seventyfive': 20529.0}, {'Name': 'New York University', 'Monthly_Payments': 240.4, 'Debt_Less_Thirty': 19000.0, 'Debt_Less_Seventyfive': 22800.0, 'Debt_Greater_Seventyfive': 19800.0}, {'Name': 'Northeastern University', 'Monthly_Payments': 288.22, 'Debt_Less_Thirty': 24731.0, 'Debt_Less_Seventyfive': 25000.0, 'Debt_Greater_Seventyfive': 25500.0}, {'Name': 'Northwestern University', 'Monthly_Payments': 200.36, 'Debt_Less_Thirty': 15895.0, 'Debt_Less_Seventyfive': 19312.0, 'Debt_Greater_Seventyfive': 18000.0}, {'Name': 'Oregon State University', 'Monthly_Payments': 242.98, 'Debt_Less_Thirty': 18000.0, 'Debt_Less_Seventyfive': 16500.0, 'Debt_Greater_Seventyfive': 15000.0}, {'Name': 'Princeton University', 'Monthly_Payments': 77.55, 'Debt_Less_Thirty': 3765.0, 'Debt_Less_Seventyfive': 3638.0, 'Debt_Greater_Seventyfive': 12290.0}, {'Name': 'Rensselaer Polytechnic Institute', 'Monthly_Payments': 284.34, 'Debt_Less_Thirty': 30899.0, 'Debt_Less_Seventyfive': 29325.0, 'Debt_Greater_Seventyfive': 25750.0}, {'Name': 'Rice University', 'Monthly_Payments': 105.75, 'Debt_Less_Thirty': 7500.0, 'Debt_Less_Seventyfive': 8763.5, 'Debt_Greater_Seventyfive': 11000.0}, {'Name': 'Stanford University', 'Monthly_Payments': 128.99, 'Debt_Less_Thirty': 7382.0, 'Debt_Less_Seventyfive': 10144.0, 'Debt_Greater_Seventyfive': 15039.5}, {'Name': 'Stony Brook University', 'Monthly_Payments': 196.46, 'Debt_Less_Thirty': 16000.0, 'Debt_Less_Seventyfive': 15500.0, 'Debt_Greater_Seventyfive': 15250.0}, {'Name': 'Syracuse University', 'Monthly_Payments': 279.17, 'Debt_Less_Thirty': 27000.0, 'Debt_Less_Seventyfive': 29000.0, 'Debt_Greater_Seventyfive': 24250.0}, {'Name': 'Tufts University', 'Monthly_Payments': 186.12, 'Debt_Less_Thirty': 10600.0, 'Debt_Less_Seventyfive': 17500.0, 'Debt_Greater_Seventyfive': 17500.0}, {'Name': 'University at Buffalo', 'Monthly_Payments': 201.63, 'Debt_Less_Thirty': 13875.0, 'Debt_Less_Seventyfive': 15775.0, 'Debt_Greater_Seventyfive': 15000.0}, {'Name': 'The University of Alabama', 'Monthly_Payments': 245.57, 'Debt_Less_Thirty': 17992.0, 'Debt_Less_Seventyfive': 17469.5, 'Debt_Greater_Seventyfive': 17000.0}, {'Name': 'University of Alabama at Birmingham', 'Monthly_Payments': 222.3, 'Debt_Less_Thirty': 14739.0, 'Debt_Less_Seventyfive': 14250.0, 'Debt_Greater_Seventyfive': 14000.0}, {'Name': 'University of Alaska Fairbanks', 'Monthly_Payments': 175.52, 'Debt_Less_Thirty': 10750.0, 'Debt_Less_Seventyfive': 9192.0, 'Debt_Greater_Seventyfive': 7567.5}, {'Name': 'University of Arizona', 'Monthly_Payments': 196.46, 'Debt_Less_Thirty': 13400.0, 'Debt_Less_Seventyfive': 13051.5, 'Debt_Greater_Seventyfive': 12000.0}, {'Name': 'University of Chicago', 'Monthly_Payments': 149.93, 'Debt_Less_Thirty': 6300.0, 'Debt_Less_Seventyfive': 14500.0, 'Debt_Greater_Seventyfive': 20064.0}, {'Name': 'University of Colorado Boulder', 'Monthly_Payments': 201.63, 'Debt_Less_Thirty': 15000.0, 'Debt_Less_Seventyfive': 13500.0, 'Debt_Greater_Seventyfive': 13000.0}, {'Name': 'University of Connecticut', 'Monthly_Payments': 222.3, 'Debt_Less_Thirty': 16250.0, 'Debt_Less_Seventyfive': 19124.5, 'Debt_Greater_Seventyfive': 19250.0}, {'Name': 'University of Delaware', 'Monthly_Payments': 250.25, 'Debt_Less_Thirty': 20000.0, 'Debt_Less_Seventyfive': 21000.0, 'Debt_Greater_Seventyfive': 22000.0}, {'Name': 'University of Denver', 'Monthly_Payments': 245.04, 'Debt_Less_Thirty': 19667.0, 'Debt_Less_Seventyfive': 21500.0, 'Debt_Greater_Seventyfive': 18332.0}, {'Name': 'University of Florida', 'Monthly_Payments': 163.52, 'Debt_Less_Thirty': 13279.5, 'Debt_Less_Seventyfive': 14750.0, 'Debt_Greater_Seventyfive': 15000.0}, {'Name': 'University of Houston', 'Monthly_Payments': 204.21, 'Debt_Less_Thirty': 13750.0, 'Debt_Less_Seventyfive': 12993.0, 'Debt_Greater_Seventyfive': 13000.0}, {'Name': 'University of Illinois at Chicago', 'Monthly_Payments': 193.87, 'Debt_Less_Thirty': 14166.0, 'Debt_Less_Seventyfive': 13798.0, 'Debt_Greater_Seventyfive': 15000.0}, {'Name': 'University of Illinois at Urbana-Champaign', 'Monthly_Payments': 211.96, 'Debt_Less_Thirty': 16750.0, 'Debt_Less_Seventyfive': 20000.0, 'Debt_Greater_Seventyfive': 18750.0}, {'Name': 'University of Iowa', 'Monthly_Payments': 223.5, 'Debt_Less_Thirty': 14243.5, 'Debt_Less_Seventyfive': 17505.0, 'Debt_Greater_Seventyfive': 18250.0}, {'Name': 'University of Miami', 'Monthly_Payments': 205.2, 'Debt_Less_Thirty': 18250.0, 'Debt_Less_Seventyfive': 18475.0, 'Debt_Greater_Seventyfive': 17500.0}, {'Name': 'University of Minnesota-Twin Cities', 'Monthly_Payments': 208.71, 'Debt_Less_Thirty': 17492.0, 'Debt_Less_Seventyfive': 17416.0, 'Debt_Greater_Seventyfive': 17250.0}, {'Name': 'University of Nebraska-Lincoln', 'Monthly_Payments': 224.37, 'Debt_Less_Thirty': 13650.0, 'Debt_Less_Seventyfive': 14664.5, 'Debt_Greater_Seventyfive': 14988.0}, {'Name': 'University of North Carolina at Chapel Hill', 'Monthly_Payments': 170.39, 'Debt_Less_Thirty': 11000.0, 'Debt_Less_Seventyfive': 15500.0, 'Debt_Greater_Seventyfive': 17017.0}, {'Name': 'University of Notre Dame', 'Monthly_Payments': 222.3, 'Debt_Less_Thirty': 19000.0, 'Debt_Less_Seventyfive': 19000.0, 'Debt_Greater_Seventyfive': 21500.0}, {'Name': 'University of Oregon', 'Monthly_Payments': 218.18, 'Debt_Less_Thirty': 18961.0, 'Debt_Less_Seventyfive': 16499.0, 'Debt_Greater_Seventyfive': 16091.0}, {'Name': 'University of Pennsylvania', 'Monthly_Payments': 213.35, 'Debt_Less_Thirty': 13695.0, 'Debt_Less_Seventyfive': 17632.5, 'Debt_Greater_Seventyfive': 21500.0}, {'Name': 'University of Rochester', 'Monthly_Payments': 253.32, 'Debt_Less_Thirty': 21650.0, 'Debt_Less_Seventyfive': 25000.0, 'Debt_Greater_Seventyfive': 21500.0}, {'Name': 'University of Southern California', 'Monthly_Payments': 231.35, 'Debt_Less_Thirty': 22500.0, 'Debt_Less_Seventyfive': 22750.0, 'Debt_Greater_Seventyfive': 19711.5}, {'Name': 'The University of Tennessee-Knoxville', 'Monthly_Payments': 206.8, 'Debt_Less_Thirty': 12500.0, 'Debt_Less_Seventyfive': 14750.0, 'Debt_Greater_Seventyfive': 14500.0}, {'Name': 'The University of Texas at Austin', 'Monthly_Payments': 230.06, 'Debt_Less_Thirty': 22132.5, 'Debt_Less_Seventyfive': 21006.5, 'Debt_Greater_Seventyfive': 19623.0}, {'Name': 'The University of Texas at Dallas', 'Monthly_Payments': 193.87, 'Debt_Less_Thirty': 13750.0, 'Debt_Less_Seventyfive': 14707.0, 'Debt_Greater_Seventyfive': 12500.0}, {'Name': 'University of Utah', 'Monthly_Payments': 155.1, 'Debt_Less_Thirty': 11313.0, 'Debt_Less_Seventyfive': 12500.0, 'Debt_Greater_Seventyfive': 12000.0}, {'Name': 'University of Wisconsin-Madison', 'Monthly_Payments': 230.06, 'Debt_Less_Thirty': 18615.0, 'Debt_Less_Seventyfive': 21436.5, 'Debt_Greater_Seventyfive': 19900.0}, {'Name': 'Vanderbilt University', 'Monthly_Payments': 144.76, 'Debt_Less_Thirty': 7341.0, 'Debt_Less_Seventyfive': 11000.0, 'Debt_Greater_Seventyfive': 15000.0}, {'Name': 'Virginia Polytechnic Institute and State University', 'Monthly_Payments': 247.81, 'Debt_Less_Thirty': 21959.5, 'Debt_Less_Seventyfive': 22500.0, 'Debt_Greater_Seventyfive': 20937.0}, {'Name': 'Wake Forest University', 'Monthly_Payments': 237.81, 'Debt_Less_Thirty': 24514.0, 'Debt_Less_Seventyfive': 26609.0, 'Debt_Greater_Seventyfive': 20500.0}, {'Name': 'Washington State University', 'Monthly_Payments': 211.23, 'Debt_Less_Thirty': 15000.0, 'Debt_Less_Seventyfive': 14759.0, 'Debt_Greater_Seventyfive': 14750.0}, {'Name': 'Washington University in St Louis', 'Monthly_Payments': 205.76, 'Debt_Less_Thirty': 13593.0, 'Debt_Less_Seventyfive': 17548.0, 'Debt_Greater_Seventyfive': 19725.5}, {'Name': 'Yale University', 'Monthly_Payments': 139.59, 'Debt_Less_Thirty': 10026.5, 'Debt_Less_Seventyfive': 9000.0, 'Debt_Greater_Seventyfive': 15000.0}]

In [22]:
output_filename = 'collegefinal.js'
with open(output_filename, 'w') as output_file:
    output_file.write('var college_info = ')
    json.dump(college, output_file, indent=2)

In [32]:
city_data = pd.read_json('cities2.json')

In [33]:
city_data= city_data.rename(columns = {"Median Monthly Income": "Median_Monthly_Income"})

In [34]:
city_data= city_data[["Median_Monthly_Income", "Median_Rent", "city", "state"]]

In [35]:
city_data.head()

   Median_Monthly_Income  Median_Rent          city         state
0                2959.00         1351      New York      New York
1                2634.92         1315   Los Angeles    California
2                2760.17         1034       Chicago      Illinois
3                2506.67          952       Houston         Texas
4                2057.08          976  Philadelphia  Pennsylvania

In [36]:
city_data.to_csv("final_city.csv", index = False)

In [40]:
def df_to_js2(city_data, properties):
    city = []
    for _, row in city_data.iterrows():
        feature = {}

        for prop in properties:
            feature[prop] = row[prop]
        city.append(feature)
    return city

In [41]:
cols2=["Median_Monthly_Income", "Median_Rent", "city", "state"]

In [42]:
city=df_to_js2(city_data,cols2)

In [43]:
print(city)

[{'Median_Monthly_Income': 2959.0, 'Median_Rent': 1351, 'city': 'New York', 'state': 'New York'}, {'Median_Monthly_Income': 2634.92, 'Median_Rent': 1315, 'city': 'Los Angeles', 'state': 'California'}, {'Median_Monthly_Income': 2760.17, 'Median_Rent': 1034, 'city': 'Chicago', 'state': 'Illinois'}, {'Median_Monthly_Income': 2506.67, 'Median_Rent': 952, 'city': 'Houston', 'state': 'Texas'}, {'Median_Monthly_Income': 2057.08, 'Median_Rent': 976, 'city': 'Philadelphia', 'state': 'Pennsylvania'}, {'Median_Monthly_Income': 2192.33, 'Median_Rent': 960, 'city': 'Phoenix', 'state': 'Arizona'}, {'Median_Monthly_Income': 1993.42, 'Median_Rent': 924, 'city': 'San Antonio', 'state': 'Texas'}, {'Median_Monthly_Income': 3079.5, 'Median_Rent': 1552, 'city': 'San Diego', 'state': 'California'}, {'Median_Monthly_Income': 2561.58, 'Median_Rent': 935, 'city': 'Dallas', 'state': 'Texas'}, {'Median_Monthly_Income': 3510.17, 'Median_Rent': 1919, 'city': 'San Jose', 'state': 'California'}, {'Median_Monthly_Income': 3258.58, 'Median_Rent': 1194, 'city': 'Austin', 'state': 'Texas'}, {'Median_Monthly_Income': 2233.42, 'Median_Rent': 835, 'city': 'Indianapolis', 'state': 'Indiana'}, {'Median_Monthly_Income': 2268.83, 'Median_Rent': 980, 'city': 'Jacksonville', 'state': 'Florida'}, {'Median_Monthly_Income': 5144.67, 'Median_Rent': 1784, 'city': 'San Francisco', 'state': 'California'}, {'Median_Monthly_Income': 2214.42, 'Median_Rent': 882, 'city': 'Columbus', 'state': 'Ohio'}, {'Median_Monthly_Income': 2871.75, 'Median_Rent': 1052, 'city': 'Charlotte', 'state': 'North Carolina'}, {'Median_Monthly_Income': 2227.92, 'Median_Rent': 974, 'city': 'Fort Worth', 'state': 'Texas'}, {'Median_Monthly_Income': 1398.67, 'Median_Rent': 771, 'city': 'Detroit', 'state': 'Michigan'}, {'Median_Monthly_Income': 1721.25, 'Median_Rent': 778, 'city': 'El Paso', 'state': 'Texas'}, {'Median_Monthly_Income': 1959.08, 'Median_Rent': 857, 'city': 'Memphis', 'state': 'Tennessee'}, {'Median_Monthly_Income': 4598.67, 'Median_Rent': 1448, 'city': 'Seattle', 'state': 'Washington'}, {'Median_Monthly_Income': 3285.25, 'Median_Rent': 1223, 'city': 'Denver', 'state': 'Colorado'}, {'Median_Monthly_Income': 4213.92, 'Median_Rent': 1376, 'city': 'Washington', 'state': 'District of Columbia'}, {'Median_Monthly_Income': 3353.08, 'Median_Rent': 1491, 'city': 'Boston', 'state': 'Massachusetts'}, {'Median_Monthly_Income': 2653.5, 'Median_Rent': 979, 'city': 'Nashville-Davidson', 'state': 'Tennessee'}, {'Median_Monthly_Income': 2454.08, 'Median_Rent': 999, 'city': 'Baltimore', 'state': 'Maryland'}, {'Median_Monthly_Income': 2341.67, 'Median_Rent': 802, 'city': 'Oklahoma City', 'state': 'Oklahoma'}, {'Median_Monthly_Income': 3126.08, 'Median_Rent': 1153, 'city': 'Portland', 'state': 'Oregon'}, {'Median_Monthly_Income': 2235.83, 'Median_Rent': 996, 'city': 'Las Vegas', 'state': 'Nevada'}, {'Median_Monthly_Income': 1793.42, 'Median_Rent': 809, 'city': 'Milwaukee', 'state': 'Wisconsin'}, {'Median_Monthly_Income': 2380.0, 'Median_Rent': 809, 'city': 'Albuquerque', 'state': 'New Mexico'}, {'Median_Monthly_Income': 1793.83, 'Median_Rent': 783, 'city': 'Tucson', 'state': 'Arizona'}, {'Median_Monthly_Income': 1855.0, 'Median_Rent': 913, 'city': 'Fresno', 'state': 'California'}, {'Median_Monthly_Income': 2406.25, 'Median_Rent': 1119, 'city': 'Sacramento', 'state': 'California'}, {'Median_Monthly_Income': 2424.67, 'Median_Rent': 1194, 'city': 'Long Beach', 'state': 'California'}, {'Median_Monthly_Income': 2460.33, 'Median_Rent': 857, 'city': 'Kansas City', 'state': 'Missouri'}, {'Median_Monthly_Income': 2226.08, 'Median_Rent': 960, 'city': 'Mesa', 'state': 'Arizona'}, {'Median_Monthly_Income': 2919.67, 'Median_Rent': 1280, 'city': 'Virginia Beach', 'state': 'Virginia'}, {'Median_Monthly_Income': 3406.83, 'Median_Rent': 1084, 'city': 'Atlanta', 'state': 'Georgia'}, {'Median_Monthly_Income': 2631.83, 'Median_Rent': 1011, 'city': 'Colorado Springs', 'state': 'Colorado'}, {'Median_Monthly_Income': 2513.58, 'Median_Rent': 860, 'city': 'Omaha', 'state': 'Nebraska'}, {'Median_Monthly_Income': 3155.5, 'Median_Rent': 1027, 'city': 'Raleigh', 'state': 'North Carolina'}, {'Median_Monthly_Income': 2160.67, 'Median_Rent': 1063, 'city': 'Miami', 'state': 'Florida'}, {'Median_Monthly_Income': 3183.17, 'Median_Rent': 1310, 'city': 'Oakland', 'state': 'California'}, {'Median_Monthly_Income': 2877.25, 'Median_Rent': 932, 'city': 'Minneapolis', 'state': 'Minnesota'}, {'Median_Monthly_Income': 2339.33, 'Median_Rent': 768, 'city': 'Tulsa', 'state': 'Oklahoma'}, {'Median_Monthly_Income': 1594.75, 'Median_Rent': 669, 'city': 'Cleveland', 'state': 'Ohio'}, {'Median_Monthly_Income': 2221.17, 'Median_Rent': 762, 'city': 'Wichita', 'state': 'Kansas'}, {'Median_Monthly_Income': 2178.0, 'Median_Rent': 920, 'city': 'Arlington', 'state': 'Texas'}, {'Median_Monthly_Income': 2431.92, 'Median_Rent': 934, 'city': 'New Orleans', 'state': 'Louisiana'}, {'Median_Monthly_Income': 2040.67, 'Median_Rent': 1015, 'city': 'Bakersfield', 'state': 'California'}, {'Median_Monthly_Income': 2790.08, 'Median_Rent': 1067, 'city': 'Tampa', 'state': 'Florida'}, {'Median_Monthly_Income': 2236.33, 'Median_Rent': 1262, 'city': 'Aurora', 'state': 'Colorado'}, {'Median_Monthly_Income': 2093.92, 'Median_Rent': 1489, 'city': 'Anaheim', 'state': 'California'}, {'Median_Monthly_Income': 1548.08, 'Median_Rent': 1438, 'city': 'Santa Ana', 'state': 'California'}, {'Median_Monthly_Income': 2399.5, 'Median_Rent': 781, 'city': 'St. Louis', 'state': 'Missouri'}, {'Median_Monthly_Income': 2005.33, 'Median_Rent': 1281, 'city': 'Riverside', 'state': 'California'}, {'Median_Monthly_Income': 2206.75, 'Median_Rent': 968, 'city': 'Corpus Christi', 'state': 'Texas'}, {'Median_Monthly_Income': 2680.5, 'Median_Rent': 818, 'city': 'Lexington-Fayette', 'state': 'Kentucky'}, {'Median_Monthly_Income': 2520.33, 'Median_Rent': 874, 'city': 'Pittsburgh', 'state': 'Pennsylvania'}, {'Median_Monthly_Income': 3255.08, 'Median_Rent': 1296, 'city': 'Anchorage', 'state': 'Alaska'}, {'Median_Monthly_Income': 1870.0, 'Median_Rent': 1024, 'city': 'Stockton', 'state': 'California'}, {'Median_Monthly_Income': 2372.08, 'Median_Rent': 684, 'city': 'Cincinnati', 'state': 'Ohio'}, {'Median_Monthly_Income': 2426.92, 'Median_Rent': 902, 'city': 'St. Paul', 'state': 'Minnesota'}, {'Median_Monthly_Income': 1762.25, 'Median_Rent': 650, 'city': 'Toledo', 'state': 'Ohio'}, {'Median_Monthly_Income': 2296.92, 'Median_Rent': 803, 'city': 'Greensboro', 'state': 'North Carolina'}, {'Median_Monthly_Income': 1546.08, 'Median_Rent': 1013, 'city': 'Newark', 'state': 'New Jersey'}, {'Median_Monthly_Income': 3608.0, 'Median_Rent': 1294, 'city': 'Plano', 'state': 'Texas'}, {'Median_Monthly_Income': 2919.17, 'Median_Rent': 1164, 'city': 'Henderson', 'state': 'Nevada'}, {'Median_Monthly_Income': 2447.5, 'Median_Rent': 773, 'city': 'Lincoln', 'state': 'Nebraska'}, {'Median_Monthly_Income': 1858.33, 'Median_Rent': 707, 'city': 'Buffalo', 'state': 'New York'}, {'Median_Monthly_Income': 3166.25, 'Median_Rent': 1284, 'city': 'Jersey City', 'state': 'New Jersey'}, {'Median_Monthly_Income': 2258.58, 'Median_Rent': 1413, 'city': 'Chula Vista', 'state': 'California'}, {'Median_Monthly_Income': 2021.25, 'Median_Rent': 703, 'city': 'Fort Wayne', 'state': 'Indiana'}, {'Median_Monthly_Income': 2397.0, 'Median_Rent': 1114, 'city': 'Orlando', 'state': 'Florida'}, {'Median_Monthly_Income': 2655.0, 'Median_Rent': 991, 'city': 'St. Petersburg', 'state': 'Florida'}, {'Median_Monthly_Income': 2991.08, 'Median_Rent': 1211, 'city': 'Chandler', 'state': 'Arizona'}, {'Median_Monthly_Income': 1320.17, 'Median_Rent': 793, 'city': 'Laredo', 'state': 'Texas'}, {'Median_Monthly_Income': 2270.0, 'Median_Rent': 988, 'city': 'Norfolk', 'state': 'Virginia'}, {'Median_Monthly_Income': 2570.83, 'Median_Rent': 949, 'city': 'Durham', 'state': 'North Carolina'}, {'Median_Monthly_Income': 3015.08, 'Median_Rent': 1008, 'city': 'Madison', 'state': 'Wisconsin'}, {'Median_Monthly_Income': 2124.58, 'Median_Rent': 910, 'city': 'Lubbock', 'state': 'Texas'}, {'Median_Monthly_Income': 4100.42, 'Median_Rent': 2243, 'city': 'Irvine', 'state': 'California'}, {'Median_Monthly_Income': 2315.75, 'Median_Rent': 745, 'city': 'Winston-Salem', 'state': 'North Carolina'}, {'Median_Monthly_Income': 2054.83, 'Median_Rent': 906, 'city': 'Glendale', 'state': 'Arizona'}, {'Median_Monthly_Income': 1870.92, 'Median_Rent': 1011, 'city': 'Garland', 'state': 'Texas'}, {'Median_Monthly_Income': 1251.17, 'Median_Rent': 1067, 'city': 'Hialeah', 'state': 'Florida'}, {'Median_Monthly_Income': 2474.42, 'Median_Rent': 908, 'city': 'Reno', 'state': 'Nevada'}, {'Median_Monthly_Income': 2744.17, 'Median_Rent': 1184, 'city': 'Chesapeake', 'state': 'Virginia'}, {'Median_Monthly_Income': 2880.42, 'Median_Rent': 1382, 'city': 'Gilbert', 'state': 'Arizona'}, {'Median_Monthly_Income': 2246.17, 'Median_Rent': 818, 'city': 'Baton Rouge', 'state': 'Louisiana'}, {'Median_Monthly_Income': 2380.67, 'Median_Rent': 989, 'city': 'Irving', 'state': 'Texas'}, {'Median_Monthly_Income': 4778.83, 'Median_Rent': 1256, 'city': 'Scottsdale', 'state': 'Arizona'}, {'Median_Monthly_Income': 1844.83, 'Median_Rent': 1137, 'city': 'North Las Vegas', 'state': 'Nevada'}, {'Median_Monthly_Income': 3908.25, 'Median_Rent': 2168, 'city': 'Fremont', 'state': 'California'}, {'Median_Monthly_Income': 2757.17, 'Median_Rent': 870, 'city': 'Boise City', 'state': 'Idaho'}, {'Median_Monthly_Income': 2604.67, 'Median_Rent': 942, 'city': 'Richmond', 'state': 'Virginia'}, {'Median_Monthly_Income': 1335.42, 'Median_Rent': 960, 'city': 'San Bernardino', 'state': 'California'}]

In [44]:
output_filename = 'citiesfinal.js'
with open(output_filename, 'w') as output_file:
    output_file.write('var city_info = ')
    json.dump(city, output_file, indent=2)